[2018-11-09 15:23] stefaniefgray opened #2742 "Can't import non-English characters into Datastore"
As a DKAN user who speaks a language other than English, I would like to be able to upload data resources to my site and import them to the Datastore.

I have created a CSV in Greek called "Fruit Quantities," and it shows the total of apples, oranges and bananas.

The file displays perfectly within DKAN - however, it cannot be imported to the Datastore without throwing an error.

"SQLSTATE[42000]:

[2018-11-09 18:40] #2444 closed

[2018-11-09 20:20] erogray commented on #2735
When importing the CSV at http://janette.dkandemo.nuamsdev.com/dataset/ero-test-data/resource/3282ee42-50e6-4e5c-8bce-1df00566aa27#{} I got a "SQLSTATE[42000]: Syntax error or access violation: 1118 Row size too large. The maximum row size for the used table type, not counting BLOBs, is 65535. You have to change some columns to TEXT or BLOBs" error.

<img width="1164" alt="screen shot 2018-11-09 a

[2018-11-09 20:33] erogray commented on #2735
Trying to import the gravesite data (from a VA resource) for http://janette.dkandemo.nuamsdev.com/dataset/ero-test-data/resource/78694916-ffb0-4b6f-8656-a536e5fe8832#{} yielded a generic Error:

<img width="451" alt="screen shot 2018-11-09 at 12 32 49 pm" src="https://user-images.githubusercontent.com/21176376/48286822-b531f480-e41b-11e8-8591-c661bbda1774.png">

[2018-11-09 20:49] erogray commented on #2735
After importing http://janette.dkandemo.nuamsdev.com/dataset/ero-test-data/resource/7549be3e-179b-4db3-8cdb-008475bbf5a1 (which seemed successful) I viewed the API (seems to look good), but then when I hit the Back button to get back to the Resource, I got a formidable block of pink.

<img width="1136" alt="screen shot 2018-11-09 at 12 48 41 pm" src="https://user-images.githubusercontent.com/21176

[2018-11-09 20:54] erogray commented on #2735
If I attempt to import a PDF file, the importer shows some mixed messages.

<img width="314" alt="screen shot 2018-11-09 at 12 53 26 pm" src="https://user-images.githubusercontent.com/21176376/48287687-8f5a1f00-e41e-11e8-8e13-140174da48ee.png">

[2018-11-09 21:10] erogray commented on #2735
After importing the standard test fixture http://janette.dkandemo.nuamsdev.com/dataset/ero-test-data/resource/bd2b8c33-4def-4a58-9a7e-f1e8075ed338 and clicking the Download button (which, as previously noted, doesn't work) I get an interesting combination of error messages, depending on which page I look at:
<img width="1174" alt="screen shot 2018-11-09 at 1 09 04 pm" src="https://user-images.gith

[2018-11-12 17:24] #2669 closed, assigned to nobody

[2018-11-12 21:06] erogray commented on #2735
Download button seems to work correctly now!

On https://ba15eb9d-e36c-48e4-821f-df693ed795d7--pr-2734.probo.build/node/45/datastore I got some gnarly import errors on what seems like a pretty normal CSV (https://ba15eb9d-e36c-48e4-821f-df693ed795d7--pr-2734.probo.build/dataset/ero-test-data/resource/22c408a4-7b64-448a-b1dd-c10021cb7f22):
<img width="1303" alt="screen shot 2018-11-12 at 1 04 37 pm

[2018-11-12 21:30] janette commented on #2735
@erogray even with the built-in disclaimer at the top?
![info](https://user-images.githubusercontent.com/314172/48376212-d8fd7080-e68f-11e8-9f5f-d70f84ab1830.png)

[2018-11-12 22:32] erogray commented on #2735
When adding a remote CSV, https://ba15eb9d-e36c-48e4-821f-df693ed795d7--pr-2734.probo.build/dataset/test-dataset/resource/978c60a5-12f5-4252-a03c-9782e522b3ce , I got a "Node 44 doesn't have a proper file path." error:

<img width="439" alt="screen shot 2018-11-12 at 2 31 56 pm" src="https://user-images.githubusercontent.com/21176376/48379109-d72faf00-e687-11e8-90cc-29c309a8b735.png">

[2018-11-12 22:37] janette commented on #2735
@erogray @stefaniefgray The above example resource was added to the **API or Website URL** field, so would not be expected to be added to the datastore. The user would either need to use the **upload** field or **remote file field**

[2018-11-12 23:29] erogray commented on #2735
When adding a remote file that's an XLS, http://www.energy.ca.gov/almanac/electricity_data/vintage/Vintage_Annual_Power_Plant_capacity.xls to https://ba15eb9d-e36c-48e4-821f-df693ed795d7--pr-2734.probo.build/dataset/us-tobacco-usage-statistics/resource/311727ad-a0b8-49c3-bbc8-0e20d0d91682 I got "Notice: Undefined offset: 1 in DrupalRemoteStreamWrapper::getHeaders() (line 96 of /src/dkan/modules/co

[2018-11-12 23:37] erogray commented on #2735
As with the XLS file linked to above, it seems like in general some filetypes are not correctly icon-identified when a resource is created. A Zip file also shows a "data" icon in https://ba15eb9d-e36c-48e4-821f-df693ed795d7--pr-2734.probo.build/dataset/us-tobacco-usage-statistics/resource/ba83ef35-f0d2-422d-9977-49f13d58291c

[2018-11-12 23:58] erogray commented on #2735
I've added a TSV file: https://ba15eb9d-e36c-48e4-821f-df693ed795d7--pr-2734.probo.build/dataset/florida-bike-lanes/resource/8599ca38-8fd1-4590-a2ba-0babd693569f#{} but I get a "cannot be imported to our datastore." message, which seems incorrect for this filetype.

<img width="956" alt="screen shot 2018-11-12 at 3 56 36 pm" src="https://user-images.githubusercontent.com/21176376/48381991-ba00dd80

[2018-11-13 09:29] chrodos commented on #2741
@stefaniefgray The file name is without the %20. Most of these files were pre-existing. This comes from an upgrade. The problem is that not all files have this problem. I will delete this upgrade and try to upgrade to 1.5.15.

[2018-11-13 17:47] stefaniefgray commented on #2741
@Chrodos Thanks for letting us know - please keep us posted!

[2018-11-15 18:18] stefaniefgray opened #2746 "Harvest filters are case-sensitive - help-text or modification needed"
As a user attempting to harvest datasets to my DKAN site from https://gishubdata.nd.gov/data.json, I specifically want to filter for datasets with the Topic "Geoscientific."

There are 18 datasets with this theme on the NDGIS portal.

However, if I put a filter for theme = "geoscientific," Harvest reports that there are zero datasets available.

By changing it to "Geoscientific," I was able to acc

[2018-11-15 20:11] KevinWV opened #2747 "Problems in installation with PHP 7.0.5"
Hi,
I just want to report a problem that I had with all the dkan´s profile PHP files that use !empthy() method with another method as parameter
(like file /profiles/dkan/modules/dkan/dkan_harvest/dkan_harvest.migrate.inc  in line762).
We use a server with PHP 7.0.5 and DKAN 7.x-1.15.5. At the end we had to exchange all !empthy(foo()) for !foo() in order to work.
It works fine with that but this "c

[2018-11-15 20:19] janette commented on #2747
Thanks @KevinWV, feel free to submit Pull Requests to this repo when you see errors. DKAN 7.x-1.16 will be the first version to be PHP 7 compliant, almost there.

[2018-11-15 21:11] stefaniefgray opened #2749 "CartoDB previews are broken, not available for any file type"
As a user who wants to share geospatial data on my DKAN portal, I would like to be able to preview common GIS file types such as KML and GeoJSON using Carto (formerly known as CartoDB.)

As an admin, I've enabled Carto for the aforementioned file types on the DKAN dataset previews page, located at admin/dkan/dataset_preview

I have also cleared the cache, and double-checked all relevant settings.

[2018-11-16 16:04] openprivacy commented on #2373
Progress:
[code]

[2018-11-16 16:43] janette commented on #2742
@stefaniefgray can you supply the file

[2018-11-16 16:57] dafeder commented on #2749
@stefaniefgray can you please enter some specific steps to reproduce, including links to files to use, so that we can check this without too much flailing around?

[2018-11-16 17:03] dafeder commented on #2746
I think these _should_ be case-sensitive, so let's add some help text to what's already there and link to docs for more. We should perhaps revamp the docs a bit as well, but under another issue.

[2018-11-16 17:58] erogray commented on #2735
QA is complete, moving to test on actual sites

[2018-11-16 17:58] #2735 closed

[2018-11-19 16:00] erogray opened #2750 "Cannot import TSVs via datastore simple import"
During QA for https://github.com/GetDKAN/dkan/issues/2735, we found that when adding a TSV, there was no import button available, and the "cannot be imported into the datastore" message appeared.
<img width="956" alt="tsv_msg" src="https://user-images.githubusercontent.com/21176376/48718939-54a87180-ebea-11e8-82d2-bcda7ff8137e.png">

The datastore import process, however, should allow/include TSV

[2018-11-19 16:54] dafeder commented on #2750
@fmizzell to look into this, but a note: pay attention to the format field in addition to the mimetype. If there is no format value, fall back to the mimetype. And make the message abovbe reflect this and explain how to fix if not detected correctly.

[2018-11-19 21:49] stefaniefgray commented on #2741
Hi Chrodos,

The file appears to be working now! I visited http://opendata-sandbox.ouc.ac.cy/dataset/%CE%BC%CE%AD%CF%83%CE%B5%CF%82-%CE%B4%CE%B1%CF%80%CE%AC%CE%BD%CE%B5%CF%82-%CF%84%CE%BF%CF%85%CF%81%CE%B9%CF%83%CF%84%CF%8E%CE%BD-%CE%BA%CE%B1%CF%84%CE%AC-%CE%BC%CE%AE%CE%BD%CE%B1/resource/c81bed08-2cbe-445c-97b8-8da428884359, and the preview looks perfectly fine.

Did the upgrade fix your issue? Pl

[2018-11-19 21:50] stefaniefgray commented on #2742
File from Chrodos: http://opendata-sandbox.ouc.ac.cy/dataset/%CE%BC%CE%AD%CF%83%CE%B5%CF%82-%CE%B4%CE%B1%CF%80%CE%AC%CE%BD%CE%B5%CF%82-%CF%84%CE%BF%CF%85%CF%81%CE%B9%CF%83%CF%84%CF%8E%CE%BD-%CE%BA%CE%B1%CF%84%CE%AC-%CE%BC%CE%AE%CE%BD%CE%B1/resource/c81bed08-2cbe-445c-97b8-8da428884359#{view-graph:{graphOptions:{hooks:{processOffset:{},bindEvents:{}}}},graphOptions:{hooks:{processOffset:{},bindEven

[2018-11-21 20:37] #2488 closed

[2018-11-22 17:54] stefaniefgray commented on #2741
@chrodos Hi Christos! Today is a U.S. holiday (Thanksgiving) and our team won't be back until Monday - however, we'll continue to look into this issue. Have a good day!

[2018-11-24 17:01] kominoshja opened #2753 "Documentation License & Translation"
Hi all!
 I wanted to translate the documentation here: https://docs.getdkan.com/en/latest/admin/index.html
I'm unsure about the license it's in, and therefore, if it can be translated into another license.
Can you please help me out?

[2018-11-26 16:27] kimwdavidson opened #2754 "Fix datastore API field filtering"
The comma-separated syntax doesn't work on the Datastore API. See #2488. The documentation has been corrected and no longer promises this, but there is code in there that is supposed to normalize it. Let's try to get the functionality back if not too much work.

[2018-11-26 17:15] stefaniefgray opened #2755 "Discovery: Search and narrowing down unique identifiers"
As a Site Manager, I want to find all datasets with an identifier of AAA-001-ZZZ.

This is a unique identifier assigned to specific datasets under the "Identifier" field. For associated datasets, it is listed under "IsPartOf."

If I search for "AAA-001-ZZZ" with hyphens, nothing comes up.

If I search for it without hyphens, I'm able to pull up all AAA-001-ZZZ associated datasets. However, I canno

[2018-11-26 17:16] stefaniefgray commented on #2755
Original ticket: https://civicactions.atlassian.net/projects/OPENDATA/queues/custom/23/OPENDATA-442

[2018-11-27 06:32] sediqamousavi opened #2757 "can't add group"
As a site manager, after deleting group content type and then again add group content type, I can't add a group

## Steps to Reproduce
1.delete group content type
2.again add group content type
3.add group from add content menu
![s](https://user-images.githubusercontent.com/43989585/49063452-0c660080-f235-11e8-95c4-f08f4ff6f72f.PNG)

[2018-11-27 18:37] erogray commented on #2757
@sediqamousavi deleting a content type isn't really reversible; you can try reverting dkan features: `drush fra -y`but if that doesn't work you might need to reinstall dkan from scratch.

[2018-11-27 18:40] erogray commented on #2753
Hi @kominoshja, thanks for asking about this! The documentation (and the application) is open source. Please feel free to translate. You can see license terms at https://docs.getdkan.com/en/latest/license.html

[2018-11-27 18:59] erogray commented on #2749
Test shown above can be viewed at http://andrew.dkandemo.nuamsdev.com/dataset/114thcd-2ndsession

[2018-11-27 19:10] stefaniefgray commented on #2749
Steps to reproduce:
1. Go to admin/dkan/dataset_preview and enable all possible CartoDB previews, then save configuration:

![screenshot 2018-11-27 12 02 26](https://user-images.githubusercontent.com/9059428/49104864-59010a00-f23c-11e8-8967-e400486b191a.png)

2. Clear the cache, to be safe.

3. Create a new Harvest Source from https://data-va-oei-ncvas.opendata.arcgis.com/data.json (a USVA GIS res

[2018-11-28 19:59] kominoshja commented on #2753
Thank you @erogray! I'm closing this issue!

[2018-11-28 19:59] #2753 closed

[2018-11-29 17:22] #2179 closed

[2018-11-30 23:50] erogray opened #2759 "Update default Workflow content state change emails"
Workflow moderation state change emails could use some improving; new text has been written (in https://github.com/NuCivic/dkan_management/issues/126) and needs deployment. In addition, "Published to Needs Review" emails are not enabled for the original author, the Workflow Moderator or the Workflow Supervisor. These should be enabled within the code.

## Acceptance Criteria
- [ ]  /admin/config/w

[2018-12-03 09:37] sediqamousavi commented on #2757
My problem has been resolved.@erogray thank you for your help

[2018-12-03 09:37] #2757 closed

[2018-12-03 10:19] sediqamousavi opened #2761 "next button doesn't work"
next button in add chart page doesn't work

## Steps to Reproduce
1. I wanted add a chart
![capture](https://user-images.githubusercontent.com/43989585/49367764-9701a080-f70a-11e8-9d09-092111a3c2bb.PNG)

[2018-12-04 04:52] sediqamousavi commented on #2761
log message shows warning: count(): Parameter must be an array or an object that implements Countable in _form_validate()

[2018-12-04 19:00] kimwdavidson commented on #2258
Maybe a recipe, not a modification

[2018-12-04 21:43] acouch commented on #2761
What version of DKAN are you using? What PHP, Linux and webserver are you using?

[2018-12-04 21:50] acouch opened #2764 "Recipe or Setting to Enable CORS for the Datastore API"
We would like to be able to [enable CORS](https://enable-cors.org/) for the datastore API so users can request data more easily from applications.

This would likely either be done in:

* .htaccess
or
* services module

If the solution is in services module would be optimal if this setting is configurable and off by default.

## Acceptance Criteria
Add the goals and desired results that this issue

[2018-12-04 21:55] acouch opened #2765 "Recline preview produces unecessary query"
Visiting a resource with the datastore enabled and a recline preview enabled produces a query that includes the full path of the resource. For example visiting:

``/dataset/gold-prices-london-1950-2008-monthly/resource/api/3/action/datastore_search``
produces:
``/api/action/datastore/search.json?resource_id=4d6d64b8-5c1d-49b6-a222-652fd4a7cb35&limit=0&query=dataset/gold-prices-london-1950-2008-mon

[2018-12-05 16:55] dafeder commented on #2755
Getting more information on how to reproduce this.

[2018-12-05 17:21] dafeder commented on #2719
This seems to have resolved itself.

[2018-12-05 17:21] #2719 closed

[2018-12-05 17:25] dafeder opened #2766 "Blog post(s) for 1.16 release"
We should put 1) a basic announcement post and 2) a technical post that goes into detail about changes to the datastore.

[2018-12-05 22:49] dharizza commented on #2765
Fixed in https://github.com/GetDKAN/recline/pull/103

[2018-12-06 16:48] dafeder commented on #2741
@chrodos - what version was this working on?

[2018-12-06 16:56] dafeder commented on #2727
Thanks for reporting @chrodos - we can't reproduce. It sounds like in your case you have a one-time workaround and we haven't heard this from anyone else so I'm going to close. Please feel free to re-open and/or submit a fix.

[2018-12-06 16:57] #2727 closed

[2018-12-07 11:24] chrodos opened #2768 "DKAN installation breaks after update of Administration menu"
Add a brief description about the purpose of the issue.

## Steps to Reproduce
Add steps for reproducing the issue including any file(s) needed to reproduce.

1. Go to modules->update
2. Update Aministration menu plugin from 7.x-3.0-rc5 to 7.x-3.0-rc6
3. The site enters in an infity redirect loop and the browser shows an error

[2018-12-07 11:51] chrodos commented on #2741
@stefaniefgray and @dafeder I Just updated it to the latest version and it seems to work. I will do some more tests and let you know.

[2018-12-07 12:30] dafeder commented on #2768
@chrodos we don't really support updating individual modules like this - the DKAN build is managed through make files and updating modules through the interface is untested. We recommend waiting for a future DKAN release that contains the correct version.

If you _must_ update one of DKAN's core dependencies, there are a few ways this could be accomplished -- downloading the module manually and pl

[2018-12-07 12:30] #2768 closed

[2018-12-07 12:31] dafeder commented on #2741
Thanks @chrodos - closing this issue for now in that case, please feel free to re-open if you encounter more issues.

[2018-12-07 12:31] #2741 closed

[2018-12-07 18:48] tryggvit opened #2769 "Graph preview does not plot datetime columns"
Dataset "graph" preview of CSV-file does not handle timestamp fields, see attached image.

## Steps to Reproduce

1. Create a new data resource and upload CSV-file of the form:
TIME,T
2018-12-01 00:00:00,0.9
2018-12-02 00:00:00,-0.5
2018-12-03 00:00:00,0.4
2018-12-04 00:00:00,2.4

2. Check "Graph" in Data Previews
3. Save
4. Select "Graph" preview, TIME as Group column and T as Series A
5. Expecte

[2018-12-11 14:47] fmizzell opened #2770 "CSV with mysql restricted words in header fails to be imported"
We tried to import a csv file to the datastore with a column named "group". The datastore import would fail with a SQL error.

[code]
http://janette.dkandemo.nuamsdev.com/dataset/resource/f0a86c53-3870-4fe9-8c5c-7bdaa58bf4d5

[2018-12-11 16:18] OmarBochkati opened #2771 "Creating Landing pages for topics"
Hi,

I volunteered at my city's town hall to help create an Open Data catalog. We're using DKAN 7.x-1.15.5 and the issue we're having is we wanted to create a landing page per topic ( more like [data.gov](https://www.data.gov/food/)  ). But I can't find a way to link the pages I create to the topics and update the topics' views.

Thank you for your consideration :)

[2018-12-11 17:55] dafeder commented on #2771
Hi @OmarBochkati - the redirect from topics pages to the search page is set in:

/admin/config/content/entity_path/list/taxonomy_term%3Adkan_topics/edit

You can disable this redirect and then use ctools/panels to override the term page content and layout. Unfortunately since the entity_paths settings are in the dkan_topics feature, you would need to use features_overrides or some custom method to

[2018-12-11 17:55] #2771 closed

[2018-12-12 16:41] kimwdavidson commented on #2742
Looks like this is good to go. Closing.

[2018-12-12 16:41] #2742 closed

[2018-12-12 16:58] kimwdavidson commented on #2276
@fmizzell: is this ready to re-test?

[2018-12-12 17:17] stefaniefgray commented on #2755
QA'd this on every DKAN client site + my Jenkins demo

Here are the results: https://docs.google.com/spreadsheets/d/1JFFA5xsiT2p9pJ3DoYJtlXvkOOu3kO8CwZZNt-3HHDU/edit?usp=sharing

This is happening on every site except for HHS and my Jenkins demo. What makes Search on these sites different from other sites?

All tests performed on the live sites for each client, Wed. 12/12/18

[2018-12-13 16:06] kimwdavidson commented on #2388
@fmizzell: is this still needed?

[2018-12-14 00:21] janette commented on #2749
@stefaniefgray this may be fixed by https://github.com/GetDKAN/dkan/pull/2772

[2018-12-17 00:41] #2765 closed

[2018-12-17 16:42] kimwdavidson commented on #2276
@fmizzell: is this the same issue as #117?

[2018-12-17 16:47] kimwdavidson commented on #2285
@kevindavis338: Looks like reindexing fixed your issue, so I'm closing this, but let us know if you're still experiencing a problem.

[2018-12-17 16:47] #2285 closed

[2018-12-18 16:44] erogray commented on #2433
Seems to have been more or less fixed; or at least, has become very difficult to replicate.

[2018-12-18 16:44] #2433 closed

[2018-12-18 16:56] erogray commented on #2471
This is dangerous because we'd need to load the entire files in many cases in order to know how big the file is, which would almost certainly cause trouble for harvests trying to access large files; there's also no clear way to check file size beforehand. We could add a "use at your own risk" option.

One option: if a resource is _already_ in datastore, the harvest could trigger a re-import. This

[2018-12-18 18:23] #2759 closed

[2018-12-18 19:55] acouch commented on #2688
@janette Is the "modified date" the node update date? Is it possible to fix this without moving "modified" to its own field?

[2018-12-18 20:05] acouch commented on #2657
Does ``/admin/config/services/odsm/validate/pod`` provide some of that functionality? Maybe each dataset needs a validation flag?

[2018-12-18 20:20] janette commented on #2688
@acouch the value is stored in an existing hidden field called `field_harvest_source_modified`, the fix for this is a better date validator that can handle partial dates like '2017-08'

[2018-12-19 10:41] OmarBochkati opened #2779 "Dataset's data dictionary add, edit and preview feature"
Hi,
I was looking for a way to add a data dictionnary to the datasets I have ( Something like [CKAN's Data Dictionary extension](https://extensions.ckan.org/extension/dictionary/)). I saw that there was something similar to CKAN's extension developed for **USDA** but I couldn't find it anywhere and I couldn't find anything close to it in DKAN.

I currently have DKAN 7.x-1.15.5, is there any way to

[2018-12-19 23:34] erogray commented on #2478
This may not pose a significant security risk; is Access: None an acceptable default? https://www.drupal.org/docs/7/modules/views/views-howtos/views-permissions seems to imply that permissions-based views are better.

[2018-12-19 23:40] erogray commented on #2460
Some examples:
<img width="1163" alt="screen shot 2018-12-19 at 3 36 01 pm" src="https://user-images.githubusercontent.com/21176376/50254678-dcc59680-03a3-11e9-9e6f-b99712cffb23.png">
( ^ from http://demo.getdkan.com/harvest_source/harvest-hyphens )

<img width="1046" alt="screen shot 2018-12-19 at 3 39 06 pm" src="https://user-images.githubusercontent.com/21176376/50254783-4a71c280-03a4-11e9-9281

[2018-12-20 00:12] #2770 closed

[2018-12-20 00:37] #2732 closed

[2018-12-21 16:53] dafeder commented on #2746
We'll make a new ticket to group all help text issues on the harvest form. Closing this one.

[2018-12-21 16:53] #2746 closed

[2018-12-21 17:20] dafeder commented on #2688
We're going to pause on this and take another look at possible solutions...

[2018-12-28 20:08] janette opened #2783 "Write a test for custom extensions"
DKAN allows modification to the allowed file extensions for resources via `dkan_allowed_extensions()`
The UI is here: `/admin/dkan/dataset_forms`

## Acceptance Criteria
1. There is a test for creating a resource with a custom file type and it passes.
2. There is a test for harvesting a resource with a custom file type and it passes.

[2019-01-02 15:50] erogray opened #2786 "Help text for add/edit harvest page"
As a site manager or administrator, I'd like for the "Add Harvest" page (or edit page), /node/add/harvest-source, to contain useful help text so that I can confidently create harvests without multiple trial and error attempts.

See also https://github.com/GetDKAN/dkan/issues/2746

Some suggestions:
- *Title* should note any restrictions or specifications, and also include help text that says somet

[2019-01-04 02:34] #2085 closed

[2019-01-04 16:41] erogray commented on #2416
@erogray will try to replicate this.

[2019-01-04 17:19] #2635 closed

[2019-01-04 20:12] cvps77 commented on #2509
Hi @horacionomade , did you figure it out how to solve this?, I have the same issue.

Hope you can help me

[2019-01-04 20:21] dafeder opened #2789 "Boolean comparison operators in Datastore API not working"
Great-than or less-than operators are broken in the datastore API. Currently we can only match values, either `x = value` or `x IN (val1,val2,val3)`
[code]

so `&filters[TotalNumberOfFacilities]<3` gives you `WHERE (TotalNumberOfFacilities IN (''))`

[2019-01-06 16:48] horacionomade commented on #2509
Hello cvps77 !!!
If I could solve it indirectly:
- Apparently the problem silk xq 'some variable that arms the path that leads to the icon is generated incorrectly. I could not find the code in which this occurs.
-The partial solution that I found is to install DKAN in a subdomain (something that my webhosting allows me), instead of installing it in a directory within the domain. This makes the co

[2019-01-07 16:40] kimwdavidson opened #2790 "Fix demo nightly rebuilds"

[2019-01-07 21:51] erogray commented on #2416
To replicate:
1. in a vanilla DKAN instance, create a new harvest from https://www.data.va.gov/data.json.
2. wait an hour or so as the harvest proceeds, until it stops proceeding.

[2019-01-07 23:10] #2688 closed

[2019-01-08 12:12] OmarBochkati opened #2791 "Harvest and DKAN Workflow : Overriding moderation state of a harvested node"
Hi,

I am trying to override the moderation state of harvested nodes and set it by default to "needs_review".
I attempted to achieve this by overriding the "workbench_moderation_state_new" at field mapping level in both "dkan_harvest.migrate.inc" and "dkan_harvest_datajson.migrate.inc" but whenever I harvest as Workflow Contributor and content creator, the harvested nodes go straight to published.

[2019-01-08 16:45] dafeder commented on #2769
@janette can you find the related issues and link them to this? Maybe we can make a small epic and try to fix these together.

[2019-01-08 18:02] dharizza commented on #2789
Using `&filters[TotalNumberOfFacilities]<3` won't work at all because to get the filters we get the query params, so as it doesn't have the = sign we don't get it right.

I believe we could use an approach similar to the one used for sorting, so for example we could use an extra key like `&filters[TotalNumberOfFacilities][>]=3` (or instead of > use the word "greater_than" or just "gt", not sure ab

[2019-01-09 08:57] OmarBochkati commented on #2791
@janette Thank you for your time and consideration.
Thanks to you I was able to override the states of the harvested nodes. I will see if I can add an option in the harvest source form for this.

[2019-01-09 17:24] #2790 closed

[2019-01-09 21:06] janette commented on #2791
Excellent! looking forward to the PR @OmarBochkati 😉 also be sure to keep your changes in a patch file so you can keep up to date with the latest DKAN release

[code]

[2019-01-09 21:07] #2791 closed

[2019-01-10 00:10] erogray commented on #2460
@dafeder at your request, I've added specific steps-to-reproduce using the FDA json source.

[2019-01-10 10:59] marineelsamalenfant opened #2794 "Search field on homepage does not show result"
When I run a search from the search field of the home, I am redirected to the desired page, but I have no research done.

Would there be a particular setting that I would not have paid attention to ?

[2019-01-10 15:05] dafeder opened #2795 "TSV files not parsed correctly for preview"
TSV files are identified and previewed with recline, but the columns are not parsed correctly.

## Steps to Reproduce
Add steps for reproducing the issue including any file(s) needed to reproduce. Seems to be a similar problem to that reported in #2750.

1. Create a new resources using [this test file](https://gist.github.com/dafeder/ee2930d67aa341bf4f1c963129de9ae4)
2. View the result. The previe

[2019-01-10 17:14] #2750 closed

[2019-01-11 16:59] janette commented on #2794
@marineelsamalenfant it sounds like you need to index your datasets, go here `/admin/config/search/search_api/index/datasets` and click "Index now"

[2019-01-12 17:31] arturoigb opened #2796 "Finish Button dont save the Chart (edit)"
## Steps to Reproduce

1.Create a Charts
2.Edit the Charts, Press the Finish button
3.View if the changes are there. No changes are made in the chart.

![2019-01-12 1](https://user-images.githubusercontent.com/31836207/51076377-c2f73680-1665-11e9-8493-cbbdc9327d5e.png)
![2019-01-12 2](https://user-images.githubusercontent.com/31836207/51076378-c2f73680-1665-11e9-8395-12d675bfd2fc.png)
![2019-01-12

[2019-01-14 20:44] arturoigb commented on #2796
I reinstall and make the test with a clean Dkan.. And continue the problem
![2019-01-14](https://user-images.githubusercontent.com/31836207/51139957-46a25600-1813-11e9-8e09-69840818d726.png)
![2019-01-14 1](https://user-images.githubusercontent.com/31836207/51139959-4904b000-1813-11e9-830d-e41a253072d2.png)
![2019-01-14 2](https://user-images.githubusercontent.com/31836207/51139962-4a35dd00-1813-1

[2019-01-14 23:14] erogray opened #2797 "In harvests from Socrata sources, only first resource has a name"
When harvesting from a Socrata source (e.g. https://data.medicare.gov/data.json or https://data.ftb.ca.gov/data.json), only the first resource listed (appears to always be a CSV) gets a name based on the dataset name; others are just named "rows" based on the filename. This appears to be because the source JSON does not include a title. But ideally in this case all resources' titles would be deriv

[2019-01-15 15:51] dharizza commented on #2795
This issue can be solved without coding, user just needs to set the delimiter to tab on the file options:

![image](https://user-images.githubusercontent.com/2200763/51191891-fbd41d00-18aa-11e9-8740-7fafe1892d25.png)

That way the preview shows just fine for TSV files.

[2019-01-15 16:53] dharizza opened #2798 "Resources with TSV remote files can't be previewed."
## Steps to Reproduce
Add steps for reproducing the issue including any file(s) needed to reproduce.

1. Create a resource using a remote TSV file, for example https://gist.githubusercontent.com/cdroulers/1a919d7f9ce701a716b0/raw/77dbd5e7e3db7017ae64e3f420e53f7e8b90aca1/Sample.tsv
2. In the resource preview you get a message saying the file couldn't be loaded:
![image](https://user-images.githubus

[2019-01-15 18:17] dharizza commented on #2798
I found that the issue we are getting with remote TSV files is that jquery.get is triggering a CORS preflight, so it is sending an OPTIONS request that is returning 400 errors. That preflight is triggered when we try to do the request to the local URL (for example to localtest.me:32771/node/a73bec59-996a-4879-9950-b65db7eeb4b2/data), so I avoided that by using the remote URL directly (https://gist

[2019-01-15 23:25] erogray opened #2799 "Discovery: harvests re-run after upgrade?"
Existing harvests sometimes seem to re-migrate after an upgrade is deployed, even if the datasets in the source have not changed. (See for instance https://github.com/NuCivic/client-usva-data/issues/124)

## Steps to Reproduce
1. in existing site with harvests, deploy upgrade
2. check the harvests' Events page the following day to see if harvests have re-migrated datasets

[2019-01-16 15:31] janette commented on #2766
https://medium.com/@dan.feder/4291fcd59e87

[2019-01-16 18:06] arturoigb commented on #2796
what kind of spec you need?¿

[2019-01-16 20:46] stefaniefgray commented on #2796
Hi Arturo,

I am currently unable to replicate this issue while using a basic sample file. Here is the file I am using to create my chart: http://stefanie.dkandemo.nuamsdev.com/sites/default/files/africa-data_0.csv

It seems there may be an issue with your data, or how it is loaded into the chart. Can you please send me a link to the file you're trying to use so that I can see if the problem is wi

[2019-01-16 21:01] arturoigb commented on #2796
http://www.numerosdepanama.com/visualization/ve_chart/19
[expo banano resumen anual.zip](https://github.com/GetDKAN/dkan/files/2766025/expo.banano.resumen.anual.zip)

First i do any graphic with the csv that you send.
then i try to change colors, like example, press the finish button and no change are saved..

![2019-01-16](https://user-images.githubusercontent.com/31836207/51278178-e85aac00-19a7-

[2019-01-16 21:02] arturoigb commented on #2796
http://www.numerosdepanama.com/visualization/ve_chart/29

[2019-01-17 12:43] arturoigb commented on #2796
Hi... Sorry about these...
The waf is the problem... sorry to not check that. im not the server admin...
i will close the issue, and sorry to tak your time and for my english =)

[2019-01-17 12:43] #2796 closed

[2019-01-17 17:41] dafeder opened #2802 "Disable Feeds module"
The new Datastore module should make the Feeds module unnecessary. Let's include an update hook that will disable the module.

We probably need to keep the module in the codebase for a few more releases so that it doesn't break.

[2019-01-18 15:58] kimwdavidson opened #2806 "Checksum for file download"

[2019-01-19 08:38] datphamict commented on #1934
Hi all,
I was installed Dkan 7.6 but still error sort. Please help me to fix it.

![image](https://user-images.githubusercontent.com/38518509/51424447-38cc4680-1c00-11e9-8410-8c386cd111ef.png)

[2019-01-22 16:29] kimwdavidson opened #2807 "Harvest improvement planning"
- [ ] Reconcile existing tickets and user stories to define and estimates tasks for improving Harvester.
- [ ] Determine highest priority tickets
- [ ] Determine required resourcing for highest priority tickets
- [ ] Schedule team against other priorities

Ticket spreadsheet here: https://docs.google.com/spreadsheets/d/1texTrzYEwqJpA5FGvMt8lrYxJ1HuOw7_Z7vTLJG1uVw/edit#gid=0

User stories here:
htt

[2019-01-22 21:13] kimwdavidson opened #2808 "Spike: Plan for DKAN Science release"

[2019-01-22 22:42] dafeder commented on #2802
Assigning back to @janette for testing

[2019-01-25 17:29] kimwdavidson opened #2810 "PHP 7.2 Pantheon compliance investigation"

[2019-01-25 17:32] kimwdavidson opened #2811 "Start repo renaming/reorg process"

[2019-01-29 18:59] erogray commented on #2797
@dafeder can we get this into a sprint soon?

[2019-01-29 23:20] erogray opened #2813 "CSV vs .CSV resource formats"
Some resources on other open data sites may list CSV resources as ".csv" files. As a site manager, I want to make sure DKAN is resilient enough at formats that it can tell that these are the same format type as "csv" resources. Currently this does not seem to be the case (see for instance https://healthdata.gov/dataset/cms-medicare-and-medicaid-ehr-incentive-program-electronic-health-record-produc

[2019-01-29 23:59] erogray opened #2814 "Discovery: Harvest revision consolidation"
Harvested datasets accumulate large numbers of revisions.
Harvest revisions are authored by anonymous, they share the same timestamp.
A new revision is created for every resource and every tag on on the dataset.

![revisions](https://user-images.githubusercontent.com/314172/53039409-c8098b80-3444-11e9-99b3-797767a0786a.png)

Let's do a controlled test to see if this happens whenever we update a da

[2019-01-31 14:48] datphamict opened #2815 "Feeds - DKAN Datastore Link Importer"
Add a brief description about the purpose of the issue.

## Steps to Reproduce
Add steps for reproducing the issue including any file(s) needed to reproduce.

1. Add Resource
2. Feeds - DKAN Datastore Link Importer panel is show ?
3. Feeds - DKAN Datastore File  panel is show ?

![1](https://user-images.githubusercontent.com/38518509/52061851-e3018200-25a1-11e9-8141-93fb252b1cdb.PNG)
![2](https://

[2019-02-01 03:25] #2799 closed, assigned to nobody

[2019-02-01 03:58] kimwdavidson commented on #2807
Some closed tickets that might be worth keeping in mind:
#105 (breaking up Jenkins job to avoid timeouts)
#65 (evaluating harvest timeouts for HHS and California)
NuCivic/client-usva-data#124 (harvests sometimes seem to re-run after deployment, and acquire all datasets as if for the first time)

[2019-02-01 22:02] dafeder commented on #2129
@erogray have you observed this issue, do you know if it's still a problem?

[2019-02-05 18:51] erogray commented on #2798
@stefaniefgray can you find an example of a TSV resource that we can replicate this on?

[2019-02-05 18:58] erogray commented on #2764
@acouch should this be a roadmap candidates card?

[2019-02-05 19:01] erogray commented on #2755
@stefaniefgray can reassess whether or not anyone is currently needing this

[2019-02-05 20:19] stefaniefgray commented on #2755
JIRA ticket: https://civicactions.atlassian.net/browse/OPENDATA-442

[2019-02-06 17:46] #2766 closed

[2019-02-07 22:25] erogray opened #2817 "Integrate node_revision_delete to limit workflow revisions"
When workflow is enabled, revisions can cause stale files to take up an enormous amount of unnecessary space.
https://www.drupal.org/project/node_revision_delete
could be a valuable addition; either as a recipe, or added directly to the application.

[2019-02-08 23:19] stefaniefgray commented on #1265
Resurrecting this ancient issue because Recline preview charts still can't display dollar signs

Example from 1.16.2, basic CSV:

![screenshot 2019-02-08 16 18 01](https://user-images.githubusercontent.com/9059428/52511446-3e90c880-2bbd-11e9-9ddf-75636293e520.png)

![screenshot 2019-02-08 16 18 30](https://user-images.githubusercontent.com/9059428/52511450-42bce600-2bbd-11e9-8366-c41707044c1d.png)

[2019-02-12 15:06] erogray opened #2818 "Previews for some harvested resources show up as 503s"
Some resources (large CSVs, harvested as Remote Files) are showing up in Recline with a "Failed to load file. Service Temporarily Unavailable. Code: 503" error, which seems inappropriate since the files exist. I think it'd be preferable to show users something like "Unable to preview from remote website" instead.

An example: https://data.ca.gov/dataset/periodic-groundwater-level-measurements/reso

[2019-02-12 17:05] acouch opened #2819 "Log Most Messages in Harvest to the Harvest Log instead of the UI"
Currently if there is an error with the resource creation in Harvest ``displayMessage()`` tells the user. This ends up with a lot of information that most users of the harvest are not able to act upon. Additionally these items are not logged for future reference when they could be most useful.

Example:

![image](https://user-images.githubusercontent.com/512243/52653311-bd3b7d80-2ebd-11e9-9baf-e3c

[2019-02-12 17:41] acouch commented on #2818
Looks like this is coming from the CSV.js library https://github.com/GetDKAN/dkan_starter/blob/master/dkan/libraries/csv/csv.js#L24

Maybe we need to check before sending it to Recline.

[2019-02-12 18:03] erogray opened #2820 "Some homepage icons can get inappropriately cropped"
It looks like some homepage icons don't quite fit into the space allotted to them, and consequently have an unattractive cropped appearance.
<img width="351" alt="screen shot 2019-02-12 at 9 56 43 am" src="https://user-images.githubusercontent.com/21176376/52657411-7a71a980-2ead-11e9-9431-aadb57c3779b.png">
<img width="388" alt="screen shot 2019-02-12 at 10 01 29 am" src="https://user-images.githu

[2019-02-18 16:35] kimwdavidson opened #2822 "DKTL command to grab database without using datastore tables"
Need a smaller version of database to copy to staging environment, so that we can test upgrades against what's currently on production.

Acceptance criteria:
- single command downloads database dump without datastore tables
- documented method for pushing truncated database to acquia

[2019-02-19 15:25] erogray opened #2824 "Harvests should skip if source JSON is missing"
Currently, if a harvest source URI is unavailable at the time of a harvest, all datasets from that source are orphaned.

### Acceptance Criteria
- Skip the harvest if the source uri is unavailable. Do not orphan the datasets.
- Keep the message in the error log that the source uri was not available and no updates were made

[2019-02-19 18:35] janette commented on #2815
@datphamict what version of Feeds are you using? Only the following version of feeds is compatible with DKAN right now
[code]

[2019-02-19 18:52] janette commented on #2817
closing in favor of #2814

[2019-02-19 18:52] #2817 closed

[2019-02-19 18:58] janette opened #2825 "Harvest revision clean up"
Create a script to purge duplicate revisions from existing datasets.

For datasets with multiple revisions with the same timestamp, keep a single revision and delete the rest.

[2019-02-19 19:04] janette opened #2826 "Skip dataset_changelog update when harvesting"
Goal: skip the `$queue = DrupalQueue::get('dataset_changelog');` step when harvesting
Create the revision without using the queue when updating vs the UI or API
Also, lets not use the queue at all to handle these "changelog" revisions

[2019-02-19 19:14] janette opened #2827 "Workbench deadlock"
During the harvest process, when the migration was being executed we noticed that a deadlock was produced on workbench_moderation_node_history table, we found that is an issue with workbench moderation module because when a draft is created a db_update in that able is issued when the nid haven't been inserted. According to https://www.drupal.org/project/workbench_moderation/issues/2252871 these ar

[2019-02-19 19:27] janette opened #2828 "SSH timeouts on harvest"
when nightly harvests run and the source has large imports the process can last longer than 15 minutes and the connection to Acquia is closed automatically.
**dkan_harvest.drush.inc**
[code]
- Get the debug/print timers info printing to keep the connection open

[2019-02-20 12:58] calemanmacias opened #2831 "Add DKAN site in Bolivia"
Please add this site to your list (https://docs.getdkan.com/en/latest/introduction/dkan-sites.html and https://getdkan.github.io/dkan-sites/):

Location: La Paz-Bolivia
Address: https://datosabiertos.cedla.org

Thank you,
Carlos Aleman

[2019-02-21 14:58] #2827 closed

[2019-02-21 15:52] schnuerle commented on #1948
Could this be reopened now that the datastore is in a separate database?

[2019-02-21 15:53] schnuerle commented on #1947
Now that the datastore has been rebuilt and separated, is this on the short term roadmap?

[2019-02-21 16:01] dafeder commented on #1948
@schnuerle the datastore is not yet working from a separate DB. We've rearchitected the code in a way that makes that much more feasable, but that next step is not complete. Here is where that work is documented, and it is on our near-term roadmap: #2571

Building the SQL endpoint would be unblocked by that.

[2019-02-22 22:26] janette commented on #2826
If we skip the queue process, we get
[code]

[2019-02-25 19:02] rhabbachi commented on #2822
Not sure about the plan to tackle this on the DKAN core/DKTL tooling. But I managed to achieve something similar using a project level drushrc.php `assets/sites/default/drushrc.php`.

Those are the relevant bits (Feeds based Datastore):

[code]

[2019-02-26 14:08] #2825 closed

[2019-02-26 14:08] dharizza commented on #2825
The command created for this is `drush ddpr` which is alias for `drush dkan-dataset-prune-revisions`.
Note: When both options `--node-max` and `--revision-max` are present, the `--revision-max` is the one which limits the amount of revisions being deleted.

[2019-02-27 15:20] neuronick opened #2836 "dkan_datastore_lock set to 1 results in infinite loop / WSOD in Dkan\Datastore\LockableDrupalVariables->getLock()"
If variable **dkan_datastore_lock** is set to 1 (probably as a result of failed update), this results in infinite loop / WSOD which is extremely difficult to debug, as it doesn't produce any error in logs.

## Steps to Reproduce
1. Run variable_set('dkan_datastore_lock', 1); via Devel PHP
2. Go to a resource, containing CSV file (local or remote)
3. There will be infinite loop and a WSOD as a resu

[2019-02-27 15:59] dharizza commented on #2828
The caching part works fine but the migrations are the ones who takes a long time without returning results. I tried changing the function used to do the migration in order to use batches instead of running the whole migration in one single run, but the logic used is something similar to one harvest source per batch and in the case we have one source with lots of datasets, the migration still take

[2019-02-27 16:29] kimwdavidson commented on #2818
@janette to spec

[2019-02-27 16:31] kimwdavidson commented on #2798
@stefaniefgray ping! ^

[2019-02-27 16:37] kimwdavidson commented on #2471
@erogray needed for this discussion and to spec

[2019-02-27 16:49] kimwdavidson commented on #2577
this may no longer be an issue. @janette to test

[2019-02-27 16:55] kimwdavidson commented on #2659
Closing in favor of #2819

[2019-02-27 16:55] #2659 closed

[2019-02-27 16:57] kimwdavidson commented on #2819
Adding information about extensions from #2460:

To replicate:

1. Create a new harvest for https://open.fda.gov/data.json. Click through to "Harvest Now".
2. Once the harvest has completed, note that there are a large number of errors showing on the page: things like "Resource remote url (http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfRES/res.cfm) extension (cfm) not allowed" and "Resource r

[2019-02-27 16:58] janette commented on #2577
@stefaniefgray
1. On a demo flavor site, add a custom extension via the UI `admin/dkan/dataset_forms`
2. create a json file to harvest that includes a resource with the custom extension http://myjson.com/
3. create a harvest source using the json you created
4. harvest and confirm the resource with the custom extension  was created

[2019-02-27 16:58] kimwdavidson commented on #2460
Closing in favor of #2819

[2019-02-27 16:58] #2460 closed

[2019-02-27 18:10] dharizza commented on #2828
We're going to implement a --feedback option for printing messages frecuently during the migrations. Something similar to https://drushcommands.com/drush-8x/migrate/migrate-import/

[2019-02-28 17:18] erogray commented on #2755
Closing since search for identifiers with hyphens isn't currently a priority for anyone as far as we know

[2019-02-28 17:18] #2755 closed

[2019-02-28 21:49] dharizza commented on #2814
I created a dataset with 5 resources; once I changed either the dataset or any resource, no extra revisions were created. Also tested on a harvested dataset and when we do manual changes, they don't trigger the extra revisions.

I noticed that if dkan_workflow is not enabled, the messages are different even when they are logged in the same timestamp, for example:

![image](https://user-images.gith

[2019-02-28 21:56] erogray commented on #2798
Some testing on http://andrew.dkandemo.nuamsdev.com/dataset/resource/d580fd26-c551-4ce9-aec4-fb5c4899194d seems to establish that remote TSVs can work if imported to datastore, or if hosted locally. The problem seems to be more about the fact that remote files are tricky. Since we don't know of anyone currently requesting remote TSV previews, I'm going to close this issue.

[2019-02-28 21:56] #2798 closed

[2019-02-28 22:16] janette commented on #2826
`/Users/janette/workspace/dkan-development/dkan/modules/contrib/migrate/plugins/destinations/node.inc line 275`
1st Dataset node revision added.
**public function import(stdClass $node, stdClass $row)
...node_save($node);**

`/Users/janette/workspace/dkan-development/dkan/modules/contrib/migrate/plugins/destinations/entity.inc line 175`
compete is called: **if (method_exists($migration, 'complete'

[2019-03-01 19:04] dharizza commented on #2814
New revisions are added to a dataset every time we update any of it resources, sometimes it is not reflected immediately because it gets added to the queue. This is not an issue in the usual workflow but we want to change it during harvest, so this work is being done in https://github.com/GetDKAN/dkan/issues/2826, closing this ticket in favour of that one.

[2019-03-01 19:04] #2814 closed

[2019-03-05 18:47] erogray commented on #2818
@erogray will try to re-create a resource to see if this is a harvest issue, a remote-file issue, or neither

[2019-03-05 18:56] erogray commented on #2471
Potential approach:
- checkbox on harvest source to automatically re-import datastores after harvest
- if table exists, re-import (we have working api import script to draw on)
- if table does not exist, provide message that a new resource needs to be added manually
- would need to decide acceptable size limit for import

[2019-03-05 21:16] gouli opened #2841 "DKAN Datastore Fast Import Fails for S3 file system"
DKAN Datastore Fast Import Feature fails when the Resource file upload destination is set as S3. The importer doesn't resolve the file path of the S3 file. All the steps mentioned in Dkan Datastore Fast Import documentation is followed.

## Steps to Reproduce
1. Configure upload destination of Resource to S3.
2. Upload CSV file.(check file is successfully uploaded to S3)
3. Under Manage Datastore,

[2019-03-05 23:16] erogray commented on #2818
When added to a new dataset as a remote-file, a 500 ISE error results: http://andrew.dkandemo.nuamsdev.com/dataset/test-dataset/resource/6cd3bdf5-dc24-4d38-96d5-32e020f9ef91
When added as a local file, a "too large or unavailable" results.
This seems like a problem with remote files.

[2019-03-05 23:19] erogray commented on #2818
Moving to unprioritized backlog since there isn't an immediate demand for fixing large remote file previews.

[2019-03-06 19:55] kimwdavidson commented on #2471
Ero to close and create updated ticket.

[2019-03-06 19:55] #2471 closed

[2019-03-06 21:46] stefaniefgray commented on #2577
QA pass!

I did things a bit differently:

1. Allowed mp3 files on http://stefanie.dkandemo.nuamsdev.com and http://andrew.dkandemo.nuamsdev.com. (Note: After adding a new file format, clear the cache so that DKAN will allow you to upload that format.)

2. Uploaded a dataset with an mp3 to http://stefanie.dkandemo.nuamsdev.com/dataset/meow-meow-meow

3. Created a new Harvest from http://andrew.dka

[2019-03-06 21:47] #2577 closed

[2019-03-07 07:49] datphamict opened #2843 "DKAN will not immediately import this file to the Datastore if it is a valid CSV"
Add a brief description about the purpose of the issue.
Dear ALL,

I have already import csv via Dkan Rest API follow the document DKAN will immediately import this file to the Datastore if it is a valid CSV. But it is not as document,

Error:"There is nothing to manage! You need to upload or link to a file in order to use the datastore."

![nh](https://user-images.githubusercontent.com/38518509/5

[2019-03-07 15:51] janette commented on #2843
@datphamict it sounds like you may have added the file to the `link_api` field, make sure use the `link_file` or `upload` field for files

[2019-03-07 16:09] datphamict commented on #2843
Dear  janette ,

I use DKAN Dataset Rest API to attach file to resource.

API is request finish and attach file succeess, but csv file is not import to datastore??
(follow the document DKAN will immediately import this file to the Datastore if it is a valid CSV)

Example API request, PHP code:

$request_url = 'http://exam/api/dataset/node/76/attach_file';

$file ="./SampleCSVFile_2kb.csv";

// Set

[2019-03-08 18:58] janette commented on #2819
![harvest-messages](https://user-images.githubusercontent.com/314172/54049312-c6a8c480-41a1-11e9-8c87-64133e58f22b.png)

[2019-03-09 03:39] datphamict opened #2844 "Real time datastore API"
Hi everybody,

I would you like to real time datastore API.

Could you please help me to performance?

1.
2.
3.

## Acceptance Criteria
Add the goals and desired results that this issue should accomplish when complete.

- [ ]
- [ ]
- [ ]

## Subtasks
Add a list of things that need to be done to accomplish the Acceptance Criteria.

- [ ] Is there a test for the issue
- [ ] Is there documentation fo

[2019-03-12 14:26] woodt opened #2845 "file upload behat scenarios in features/theme.admin.feature fail under dktl"
When run under dktl, the file upload scenarios in theme.admin.feature fail:

[code]

It's possible that any file upload step will fail under dktl.

## Steps to Reproduce

`dktl test:behat features/theme.admin.feature`

## Acceptance Criteria

File upload steps should work correctly.

## Subtasks

[2019-03-12 14:27] woodt commented on #2845
An initial look suggests that the files to be uploaded are not found by selenium.

[2019-03-12 17:37] erogray commented on #2672
See also https://github.com/NuCivic/healthdata/issues/1115

[2019-03-12 17:40] erogray commented on #2603
@dafeder is this still a planned ticket?

[2019-03-12 17:44] erogray commented on #2764
moving to unprioritized backlog since not currently a known user priority

[2019-03-12 17:50] erogray commented on #2749
Appears to have been fixed by https://github.com/GetDKAN/dkan/pull/2772

[2019-03-12 17:50] #2749 closed

[2019-03-12 17:57] erogray commented on #2633
Moving to unprioritized backlog since this is in roadmap candidates list

[2019-03-12 17:59] erogray commented on #2632
Feedback module already exists

[2019-03-12 17:59] #2632 closed

[2019-03-12 21:50] #2824 closed

[2019-03-12 21:50] #2826 closed

[2019-03-14 18:17] erogray opened #2847 "Long strings in sidebar should wrap more gracefully"
As a site manager, I'd like to specify harvests with long filters or excludes, without the resulting text overflowing the left sidebar into search results.

See for instance http://andrew.dkandemo.nuamsdev.com/harvest_source/cotest

[2019-03-14 19:23] kimwdavidson commented on #2646
Blocked by GetDKAN/dkan-tools#20

[2019-03-15 15:10] kimwdavidson commented on #2844
@datphamict, can you tell us a bit more about what you're trying to accomplish?

[2019-03-15 15:12] kimwdavidson commented on #2841
@gouli Using S3 isn't currently on our roadmap for this version of DKAN, but if you submit a fix, we'd be happy to review it.

[2019-03-15 15:16] kimwdavidson commented on #2836
@neuronick Thanks for reporting! We'll take a look at this. In the meantime, if you'd like to submit a pull request, we'll be happy to review it.

[2019-03-19 20:41] kimwdavidson commented on #2731
This isn't currently on our roadmap, but we do think it's a great idea. We're closing for now, but please reopen (or even better, submit a PR) if this is of interest to you.

[2019-03-19 20:41] #2731 closed

[2019-03-22 09:52] frayber commented on #1974
Same error for me, when I try to edit but not in all schemas, I get error 500 with nothing in error log.
I raised memory_limit to 4096 without success.

[2019-03-22 15:11] erogray opened #2849 "Add support for ReCAPTCHA"
Some sites are experiencing spam problems (e.g. with feedback module), and ReCAPTCHA might help with this. Currently only standard arithmetic and image CAPTCHAs are available.

[2019-03-22 16:51] kimwdavidson commented on #2849
Adding this is uncomplicated, but we should discuss the management of non-core contrib modules.

[2019-03-22 19:59] erogray opened #2850 "Harvest should allow mediaType to specify resource type"
As a site manager harvesting from a remote JSON source, I want resources that are created to use a resource type that is specified by the mediaType in the JSON, when it is specified, so that in cases where the JSON and remote server mimetype conflict, the resulting resource is correctly typed according to what the JSON intends.

Add a brief description about the purpose of the issue.

## Steps to

[2019-03-22 20:00] erogray commented on #2850
Originally prompted by research on https://github.com/NuCivic/cadepttech/issues/165 in which the JSON specifies a mediaType that is not the same as the remote server. We think that it is more POD-correct to follow the JSON's specification.

[2019-03-27 17:27] fmizzell commented on #2646
@janette I rebased the PR. Now the tests are running but we are getting some failures.

[2019-03-27 22:38] dharizza commented on #2831
Work done in https://github.com/GetDKAN/dkan/pull/2851 and https://github.com/NuCivic/dkan-sites/pull/16

[2019-04-01 15:36] #2831 closed

[2019-04-02 18:57] digitalsutton opened #2855 "Resource upload field not working with s3fs"
It appears the file_upload field in Resource does not work correctly with s3fs (when taking over public with s3fs).

When File Resume is enabled (which it is by default), uploads fail. When that setting is disabled, uploads work as expected (files are uploaded and stored in s3).

In both cases, Preview and Datastore imports do not work, but download buttons always work (and download the file from

[2019-04-02 21:44] erogray opened #2857 "Remove workflow emails from feature"
As a DKAN administrator, I'd like to be able to update the workflow email notification templates for my site without having them revert during the next upgrade, so that I can effectively customize my site's workflow communications.

[2019-04-03 13:17] #2847 closed

[2019-04-03 16:02] dharizza commented on #2820
I've tried changing the units-per-em, adding `display: inline-block` and `display: block` to the <a> that has the `::before` with the icon, also tried to change the overflow, the opacity, added `text-rendering:optimizeLegibility;` and `-webkit-font-feature-settings: "kern" 1;`. Changed the order of the elements in dkan-topics.css to load svg first, then woff and finally ttf, but had no success. I

[2019-04-03 20:15] kimwdavidson commented on #2769
@stefaniefgray: could you link all the recline/preview/date issues here?

[2019-04-03 20:20] kimwdavidson commented on #2855
@p51i: This isn't currently on our roadmap, but we'd be happy to review a pull request if you submit one.

[2019-04-03 20:26] kimwdavidson commented on #2810
Duplicate. Closing

[2019-04-03 20:26] #2810 closed

[2019-04-03 21:05] kimwdavidson commented on #2807
With major issues fixed or in process, moving this to done.

[2019-04-03 21:05] #2807 closed

[2019-04-05 03:50] newwave2019 opened #2859 "Fatal error: Can't use method return value in write context in /home2/joomcaricom/public_html/catalog/controller/payment/billplz.php on line 105"
is there anything that might help me to solve this prb

[2019-04-08 16:28] dafeder commented on #2333
Note that most of this work has moved to #2608

[2019-04-09 17:47] erogray commented on #2849
Planned approach:
- add ReCAPTCHA to client sites currently using CAPTCHA (GOSA and HHS)
- document in client Nuclino pages
- add a template for contrib modules used on client sites outside core for reference.

[2019-04-11 18:12] kimwdavidson commented on #2859
@newwave2019 This doesn't look like an issue with DKAN. Did you mean to submit this to another repo?

[2019-04-11 18:12] #2859 closed

[2019-04-11 23:25] stefaniefgray commented on #2769
This ticket, regarding graph previews, has to do with the Recline module. However, our date issues may go beyond this and may be tied to the datastore.

Here is the original issue from California waterboards regarding how DKAN handles dates: https://github.com/NuCivic/cadepttech/issues/88

Original issue about how the Visualizations entity has trouble with dates:
https://github.com/GetDKAN/dkan/is

[2019-04-12 01:45] tavitas opened #2861 "Add National Data Portals for Pacific Island Countries to DKAN Sites List"
Hello,

The Secretariat of the Pacific Regional Environment Programme (SPREP) project Inform has launched national data portals for Pacific Islands countries below based on dkan, please add to the dkan sites list.

American Samoa: [https://americansamoa-data.sprep.org](url)
Cook Islands: [https://cookislands-data.sprep.org](url)
Federated States of Micronesia: [https://fsm-data.sprep.org](url)
Fij

[2019-04-16 16:54] kimwdavidson commented on #2849
Closing in favor of feedback#115

[2019-04-16 16:54] #2849 closed

[2019-04-17 16:47] #2850 closed

[2019-04-23 17:36] erogray commented on #2698
@janette to bring up with PQDC team

[2019-04-23 18:17] dafeder commented on #2844
@datphamict, we're going to close this because you haven't provided more details, but I assume you're talking about an API that would let you stream realtime data into a datastore table. This kind of thing is on the longterm roadmap but likely requires rearchitecting the datastore as a separate service. Feel free to open this ticket back up if you want to continue discussing it or to follow one of

[2019-04-23 18:17] #2844 closed

[2019-04-23 18:32] dafeder commented on #1179
@frayber I can see the issue. Will keep this ticket open and look out for PRs.

[2019-04-24 13:42] janette commented on #2698
search across all columns

[2019-04-25 15:58] JuanAlejo32 opened #2866 "Problem with the editor in place"
Greetings, first of all first I apologize for my bad English.
Now I have a problem with the section "the editor in place", which only allows me to add this content, but I saw that in the documentation of the page, it allows more options, how can I solve this ?.

I wait for a quick response and thank you for your attention.

![image](https://user-images.githubusercontent.com/22005128/56750206-ddeb4

[2019-04-25 16:17] janette commented on #2866
@JuanAlejo32 you will need the 'administrator' role, then instead of using the IPE 'customize this page' link at the bottom of the node, you will instead click the 'Customize Display' link next to the 'Edit' tab on top. Then click the 'content' link.

[2019-04-25 16:50] #2828 closed

[2019-04-26 14:06] janette commented on #117
Yes, this is still an issue, and not just the header row.

`DKAN DATASTORE: There was a problem while importing the Resource - SQLSTATE[HY000]: General error: 1366 Incorrect string value: '\xF1a' for column 'campo_2' at row 2`
[test.csv.zip](https://github.com/GetDKAN/dkan/files/3121638/test.csv.zip)

[2019-04-26 14:12] JuanAlejo32 commented on #2866
thanks for answering me!, now first verify that I am an administrator user.
![image](https://user-images.githubusercontent.com/22005128/56812842-531a4f80-6801-11e9-8717-883d68a8ee85.png)

Then I tried to search "" customize Display ", but unfortunately I did not find it.
![image](https://user-images.githubusercontent.com/22005128/56813803-61696b00-6803-11e9-95af-472a886c32ac.png)

[2019-04-26 14:20] janette commented on #2866
@JuanAlejo32 sorry if you are talking about the front page you are right the local tasks are not displayed, you will need to:
1. go to `admin/content`
2. find your front page from the list and click `edit`
3. Click the 'Customize display' button
4. Click 'content' under Operations
5. Click the _gear_ at the top left of a defined region
6. Click 'add content'

![customize_front](https://user-images

[2019-04-26 14:32] JuanAlejo32 commented on #2866
thanks for the help, it worked!

[2019-04-26 14:34] #2866 closed

[2019-04-27 04:20] #2822 closed

[2019-04-27 16:42] #2646 closed

[2019-04-30 08:17] jjalcolea commented on #2276
Hi, I'm experiencing a similar issue with UTF8 spanish characters in data fields.  Please find attached the error and a CSV file to reproduce it.
![error](https://user-images.githubusercontent.com/7276480/56948635-0c926100-6b31-11e9-8e59-73850d823c2c.png)

[test.zip](https://github.com/GetDKAN/dkan/files/3130400/test.zip)

[2019-04-30 17:36] erogray commented on #2698
@acouch is this a documentation need? Or a shortcoming of Recline? Or both?
Or is this not relevant for D7?

[2019-04-30 17:41] erogray commented on #793
@stefaniefgray can you test?
1. for each standard site role, check reverting per steps above
2. document whether or not behavior is as intended
3. check if one role can revert content created by another role

[2019-05-01 22:44] stefaniefgray opened #2867 "redacted"

[2019-05-01 23:03] janette commented on #2867
moved the issue to the correct repo

[2019-05-01 23:03] #2867 closed

[2019-05-06 02:54] stefaniefgray commented on #2861
See https://github.com/GetDKAN/dkan/pull/2869

[2019-05-06 08:15] jjalcolea commented on #117
Hi, any plans on fixing this any soon?
Thanks!

[2019-05-06 23:41] stefaniefgray opened #2871 "USDA has built-in ISO 19115 metadata standard - could it be replicated for other sites?"
Archived-- wrong repo

[2019-05-07 00:36] stefaniefgray opened #2872 "Discovery: ISO 19115 geospatial data - Metadata source module or ODSM?"
See https://github.com/GetDKAN/dkan/issues/2871 for more details on the ISO 19115 geospatial metadata standard and why it matters to Marine Scotland (amongst other E.U. clients who will have to follow the same standard.)

Based on the user story outlined in 2871 -- would we be able to use the Metadata Source Module or the Open Data Schema Mapper? Which is the best for geospatial metadata?

[2019-05-07 01:41] tavitas commented on #2861
Thanks guys! Really happy to see them listed

[2019-05-07 16:51] kimwdavidson commented on #2872
Duplicate of #2871. Closing

[2019-05-07 16:51] #2872 closed

[2019-05-07 16:52] stefaniefgray commented on #2871
Sent 4/17 in JIRA thread linked above:

"Hi Ero

Apologies for late reply on this – I have been away on leave, and just catching up.

Comments to each point:

1. Analytics: We do indeed have google analytics and use it routinely to monitor usage, most downloaded datasets etc. To be honest, I can’t recall the exact context of the comment I made on this.

2. Storage reports: This is mainly from a mo

[2019-05-07 16:54] stefaniefgray commented on #2871
"Hi Ero

Thank you very much for the thorough feedback. There’s definitely no point in investing a large amount of effort in developing this type of reporting in D7, given the inevitable move to D8 – so I am perfectly happy with a manual update. To be honest, every quarter would be perfectly adequate for me – it is mainly to understand the broad direction/growth of the site and be able to project

[2019-05-07 18:01] #2871 closed

[2019-05-07 19:27] stefaniefgray commented on #2861
Page just needs a final review of my edits and then it's good to go

[2019-05-07 20:53] stefaniefgray commented on #793
Testing on http://stefanie.dkandemo.nuamsdev.com/users/editor after rebuilding site in Jenkins (7.x-1.x, no parameters):

1. Logged in as an Editor
2. Created new dataset and resource
3. Edited dataset and resource
4. Went to 'Revisions' and tried to revert back to first edition
5. "Access denied - You are not authorized to access this page."

Tried again as admin, and as a Site Manager -- still a

[2019-05-08 23:50] #2861 closed

[2019-05-13 18:57] grugnog commented on #2836
We are working on this in https://github.com/GetDKAN/dkan/pull/2876

[2019-05-13 20:28] grugnog opened #2877 "Move dkan_datastore variable to a table"
Add a brief description about the purpose of the issue.

## Steps to Reproduce
Add steps for reproducing the issue including any file(s) needed to reproduce.

1.This variable can get large
2. Locking can get complex and interfere with site operation

## Acceptance Criteria
Add the goals and desired results that this issue should accomplish when complete.

- dkan_datastore is a table (with rows and

[2019-05-15 12:42] erogray opened #2881 "Create drush command to clear queued jobs (by queue name)"
As a DKAN developer, I'd like a drush command to clear any queued work, so that I can be certain no running tasks will interfere with deployments. Ideally this would allow us to specify the name of the queue, so that we can be more precise.

[2019-05-15 12:46] erogray opened #2882 "drush command to delete orphaned nodes"
As a DKAN developer, I'd like a drush command to delete orphaned nodes, so that in the event of an unexpected harvest event I can more easily do cleanup activities.

[2019-05-15 20:10] #2857 closed

[2019-05-21 13:49] dyaw-Drexel opened #2883 "New DKAN Install - Front Page Blank and No In-Place-Editor"
Hi,

I am working with a new install of DKAN. I am running this on Ubuntu 18.04 as a VM using VirtualBox.

I am running into an issue here where the front page is blank and I don't see the in-place-editor. Was there supposed to be a default front page? And can anyone help me with this? Thanks!

![image](https://user-images.githubusercontent.com/50875663/58101397-87d5b880-7bad-11e9-8687-aa594549f87

[2019-05-21 13:54] dyaw-Drexel commented on #2883
Also if I try to manually make a page, I get these errors on the top:

    Notice: Undefined variable: path in include() (line 14 of /home/uhc-server-test/dkan/webroot/profiles/dkan/themes/nuboot_radix/panels/layouts/dkan_front/panels-dkan-front.tpl.php).
    Notice: Undefined variable: bg_color in include() (line 14 of /home/uhc-server-test/dkan/webroot/profiles/dkan/themes/nuboot_radix/panels/la

[2019-05-21 17:49] erogray commented on #2877
Will require hook update to fix existing sites

[2019-05-21 17:50] erogray commented on #2698
@acouch is this a documentation need? Or a shortcoming of Recline? Or both?
Or is this not relevant for D7?

[2019-05-21 18:00] erogray commented on #117
Closing this one in favor of https://github.com/GetDKAN/dkan/issues/2276

[2019-05-21 18:00] #117 closed

[2019-05-21 18:00] erogray commented on #2276
See also https://github.com/GetDKAN/dkan/issues/117

[2019-05-21 22:21] janette commented on #2883
@dyaw-Drexel did you create a custom theme? Those variables are set up in Nuboot Radix for the DKAN_front panel layout option.

If you have not enabled the default content feature you could create a page and assign it in the settings `admin/config/system/site-information`

![front-page](https://user-images.githubusercontent.com/314172/58134528-bfb02080-7bec-11e9-9fa5-6a25c366379e.png)

[2019-05-21 23:49] janette commented on #2236
### Items to fix
- Main navigation: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 7:1, but text in this element has a contrast ratio of 4.79:1. Recommendation: change background to #005c98.
- hero region:
  * The heading structure is not logically nested. This h2 element appears to be the primary document heading, so should be an h1 element

[2019-05-22 13:18] dyaw-Drexel commented on #2883
That works! Thanks!

[2019-05-22 16:48] janette opened #2884 "Add test for datastore lock changes"
see #2876

lock is stored in a global lock variable, requesting a new lock will extend the expiration of the lock and return true. So to test a failed lock we need it to be called from a separate process.

to test we need a server to request a url
https://api.drupal.org/api/drupal/modules%21simpletest%21tests%21lock.test/function/LockFunctionalTest%3A%3AtestLockAcquire/7.x

hypothesis: use a drush

[2019-05-22 17:52] erogray commented on #2882
@dharizza is this done already, or is there work pending?

[2019-05-22 17:54] #2883 closed

[2019-05-28 17:41] erogray commented on #2884
@janette and @fmizzell to cowork

[2019-05-28 17:47] erogray commented on #2769
http://stefanie.dkandemo.nuamsdev.com/dataset/gold-prices-london-1950-2008-monthly may provide good test fixture

[2019-05-28 17:49] erogray commented on #2820
Recommending a 1-hour timebox to figure out if this is worth the effort, since it's only on some OS/browser combinations

[2019-05-29 22:49] stefaniefgray opened #2886 "If Harvest source is invalid, Harvest should warn with error message instead of getting stuck in loop."
As a user creating a Harvest Source in DKAN, I have accidentally pasted a regular URL, and not a harvest source URI, into the 'Source URI' box.

![Screenshot 2019-05-29 16 32 51](https://user-images.githubusercontent.com/9059428/58595910-6f117680-822f-11e9-9a7d-d45ae0cbd806.png)

In turn, Harvest gets stuck in an infinite loop, as displayed in the video below. An error message guiding the user bac

[2019-05-30 20:06] erogray commented on #2698
@acouch ^

[2019-05-31 17:14] janette commented on #2276
Also an issue on DKAN2, fails silently.

[2019-05-31 22:16] janette commented on #2276
![valid-chars](https://user-images.githubusercontent.com/314172/58737564-bb8fba00-83c7-11e9-8a84-8581acf3a27a.png)

[2019-06-03 16:52] kimwdavidson commented on #2769
@janette to also check how the related tickets might be fixed by this fix

[2019-06-03 16:56] kimwdavidson opened #2890 "Compile results of USDA scan"
This is a ticket about making other tickets based on list of potential improvements.

[2019-06-03 16:59] erogray opened #2891 "Subsequent Harvests should continue to run even if one has errors"
## User Story
As a site manager for a site with multiple harvests, I want as many harvests as possible to complete successfully, even if one of the harvests has errors, so that my site data can be as up-to-date as possible.

## Problem
Currently if a DKAN site has multiple harvests, and one stops with errors, all harvests that run afterward do not run. For sites with many harvests, this can mean t

[2019-06-04 17:55] erogray commented on #2886
It'd be ideal to catch the error; but since we're moving toward DKAN2 harvest instead, we should focus on it instead.

[2019-06-04 17:55] #2886 closed

[2019-06-04 18:00] erogray commented on #2891
@dharizza what would be the level of effort here (approximately)? Curious about whether this should be worked on in DKAN 1 vs. DKAN 2.

[2019-06-05 03:38] dharizza commented on #2891
@erogray I believe we may need a better definition of "stops with errors" in order to know the level of effort here. For example, we were having issues with date formats like "YYYY-YYYY" and then an exception not handled was thrown, that was preventing every subsequent harvest from running because it interrupted the usual workflow, that kind of errors needs fixing, in this case we fixed it in http

[2019-06-07 14:10] janette commented on #2276
@chrodos after further testing I think the issue you were running into was having a mysql reserved word/symbol in the header column.

@jjalcolea the file you provided was using the iso-8859-1 encoding, once I converted it to UTF8 it did display the special characters properly.

I will be updating our documentation and closing this issue, let me know if the solutions above do not solve your errors.

[2019-06-07 16:56] kimwdavidson opened #2895 "Tests and documentation for periodic update module"

[2019-06-07 17:01] kimwdavidson opened #2896 "Implement Elysia cron"
https://www.drupal.org/project/elysia_cron

Should Elysia cron replace Jenkins? Would add site-specific settings, which could make updating more complex; but does make the site itself more portable.

Could also add but disable by default so that it could be enabled on a per-site basis.

[2019-06-10 15:34] #2884 closed

[2019-06-10 15:44] kimwdavidson opened #2898 "Update how to filter and specify fields"

[2019-06-10 15:45] kimwdavidson opened #2899 "Document how to use datastore actions using API"

[2019-06-10 17:53] dharizza commented on #2769
The issue seems to be in https://github.com/GetDKAN/recline/blob/7.x-2.x/recline.js#L371 because when we have the X axis being a date formatted value, the X is coming as a value parsed to numbers, for example 2018.5 or something similar, in this case there is no index in the models array that can pick that up, triggering the code in the catch which just returns the numeric value which then is weir

[2019-06-10 21:30] #2276 closed

[2019-06-11 18:41] erogray commented on #2896
No D8 version yet, https://www.drupal.org/project/contrib_tracker/issues/2615318

[2019-06-11 18:44] erogray commented on #2891
Seems fixed-ish.

[2019-06-11 18:44] #2891 closed

[2019-06-11 18:45] erogray commented on #2698
@janette to bring up with PQDC team

[2019-06-11 20:18] erogray opened #2900 "Group descriptions truncate awkwardly"
Group descriptions are truncated mid-word on the Groups pages. Eg: https://data.ca.gov/groups or https://data.louisvilleky.gov/groups?page=0%2C3 or https://gishubdata.nd.gov/groups

It'd be better to truncate text at a space instead, and add a "..." at the end.

![Screen Shot 2019-06-11 at 1.15.07 PM.png](https://images.zenhubusercontent.com/599604c58f62dc7798c32ff7/00b64da4-c897-4e55-ba78-cc90b87

[2019-06-11 22:48] erogray opened #2901 "Add non-UTF-8 option to datastore import"
As a DKAN site manager, I'd like the option to import non-UTF-8 CSVs to the datastore, so that I can provide users with a wider variety of data sources.

[2019-06-12 13:37] janette commented on #2698
To do: switch the datastore tables to innodb

[2019-06-13 19:15] vmendieta opened #2902 "Problems to migrate the dataset from CKAN to DKAN"
Is there an extra module that allows me to migrate all the dataset I have in a CKAN to my new DKAN portal? what format should data.json have?
Try using the DKAN Harvest by passing the data.json from my ckan but it does not bring anything.
It will be a format problem? The ckan is 2.2 and the URL to the data.json is https://www.datos.gov.py/data.json

[2019-06-14 09:43] rhabbachi commented on #2902
Comparing the output of data.json from http://demo.getdkan.com/data.json to the one from https://www.datos.gov.py/data.json, seems like you have the `dataset` array but missing the metadata for the json itself.

Try to change from
[code]
to
[code]
And see if it works.

![image](https://user-images.githubusercontent.com/1914306/59499921-52607a00-8e90-11e9-929a-0069c7f7ba17.png)

[2019-06-15 01:52] dharizza commented on #2819
The errors were already logged in harvest UI.
The green messages are still loaded during and after the harvest but they can't be moved to a specific harvest tab as it is not possible to relate them to the harvest. Also, the "Events" tab is meant to store data about every time a harvest is run, not the status messages related to it.

About the messages shown, some of them are related to nodes (like

[2019-06-15 05:26] stefaniefgray opened #2904 "Create documentation on Feedback"
The Feedback module is now included within out of the box DKAN, but there is nothing about it mentioned on https://dkan.readthedocs.io/.

### Acceptance criteria:
"Feedback" gets a page of its own under Components (https://dkan.readthedocs.io/en/latest/components/)

[2019-06-18 17:55] erogray commented on #2901
Pre-1.16 code allowed conversion to UTF-8, but that code would need to be reconstructed or rebuilt for the new datastore import.

[2019-06-19 09:18] phwegner opened #2906 "dkan and revery proxy"
I'm using nginx for revery-proxy but the base url does not change even if I change $base_url in settings.php.
Because of that most of the css and images as well as .gif files do not load well.
Also I'm not able to log in as a user.Add a brief description about the purpose of the issue.

[2019-06-19 09:26] jjalcolea commented on #2276
@janette, you are right, the issue is solved now (or better: there was no issue). Thanks a lot for looking into this!

Best,

Juanje.

[2019-06-19 11:02] jensr commented on #2769
Just an observation: We've been aware of this issue for a while.  We have worked around it by adding an additional column to data sets to express time in a numerical format - e.g. Days since a given date, or a decimal year expression of the date in question. This allow us to create the graphing for those datasets, but obviously does add an extra column to a dataset (which can be quite handy even i

[2019-06-25 17:40] #2902 closed

[2019-06-25 17:40] erogray commented on #2902
Hi @vmendieta, we're closing this since it seems answered. Please re-open the issue if you're still having trouble.

[2019-06-25 17:57] erogray commented on #2906
Hi @phwegner, can you provide some more details about what you're doing and where you're running into trouble? This is a problem that we're unfamiliar with.

[2019-06-26 00:46] dharizza opened #2909 "Undefined offset error message when clicking around while running a harvest"
Undefined offset error message when clicking around while a harvest is run.
![image](https://user-images.githubusercontent.com/2200763/60142943-49698580-9779-11e9-828d-3b15555f4db1.png)

We might need an override in nuboot_radix for Implements theme_status_messages().

This appeared after https://github.com/GetDKAN/dkan/pull/2903

[2019-06-26 09:40] phwegner commented on #2906
Hi @erogray ,
sure, I'm running dkan (https://github.com/GetDKAN/dkan-drops-7) in a docker container and use a nginx reverse proxy to direct a user request from http://host-server.de/dkan (for example) to the container where dkan is running. When I'm doing this most of the sites content seems to be linked correctly except for css files and images and .gif etc.. But when I change the base-path in t

[2019-06-26 14:33] Kerberos7 opened #2910 "Data preview is not showing on page"
![image](https://user-images.githubusercontent.com/9345896/60188564-dcd2b180-9872-11e9-9545-1dfd658f6148.png)

For some reason, the data preview panel is not showing on page since last week. Before it worked OK for csv and xls.

[2019-06-26 14:43] dyaw-Drexel opened #2911 "Undefined Variables and No Hero Background in New Pages"
After creating a new page, I get the following errors. Also the Hero background does not show up no matter what.

Notice: Undefined variable: path in include() (line 14 of /var/www/html/profiles/dkan/themes/nuboot_radix/panels/layouts/dkan_front/panels-dkan-front.tpl.php).
Notice: Undefined variable: bg_color in include() (line 14 of /var/www/html/profiles/dkan/themes/nuboot_radix/panels/layouts/d

[2019-06-26 15:00] dyaw-Drexel commented on #2911
Odd - I just made it the front page and now it works. It however does not in the preview or when it is not the front page.

[2019-06-27 15:38] #2898 closed

[2019-06-28 21:57] janette commented on #2910
@Kerberos7 are there any errors in the console or logs that contain clues? was the file updated? was it added to the datastore? code changes?

[2019-06-28 22:00] janette commented on #2911
Yes @dyaw-Drexel the variables rely on the page being configured as the front page in the site settings. Re-open if you have further issues.

[2019-06-28 22:00] #2911 closed

[2019-06-28 22:04] janette commented on #2906
@phwegner what are the permissions on your files directory? is there https involved?

[2019-06-29 00:58] stefaniefgray commented on #2147
Re-opening this issue because it was pointed out by Michael Schneurle of https://data.louisvilleky.gov/

See what @jvitello wrote above in the section "Current Behavior when DKAN Workflow is enabled:"

This is the exact behavior that is still happening on sites with Workflow where the Revisions button has been disabled for certain viewers (i.e. anonymous users.)

**Example currently happening on L

[2019-06-29 14:38] phwegner commented on #2906
@janette the /files directory is 777 and https is currently not involved !

[2019-07-02 18:24] erogray commented on #2906
@phwegner we recommend using DKAN Tools instead: https://github.com/GetDKAN/dkan-tools

[2019-07-03 18:05] erogray opened #2915 ""View Published" button should not be shown if it cannot be used"
**Problem:**
On workflow sites where a user does not have permissions to view Revisions, or where an asset does not have Revisions, the "View Published" button still appears, but leads nowhere.

**Example:**
![Screenshot 2019-06-28 18 34 04](https://user-images.githubusercontent.com/9059428/60377720-6353d400-99d6-11e9-82d1-ec1a9123dade.png)

**User story:**
As a user viewing a dataset with no revi

[2019-07-03 18:05] erogray commented on #2147
Re-closing in favor of https://github.com/GetDKAN/dkan/issues/2915

[2019-07-03 18:05] #2147 closed

[2019-07-04 09:26] phwegner commented on #2906
@erogray Okay I will try that. Thank you !

[2019-07-04 09:43] phwegner commented on #2906
Okay now I have the following error when I try:  ``` dktl init ```.
[code]

[2019-07-08 13:21] janette commented on #2906
@phwegner have you installed docker? https://github.com/getdkan/dkan-tools#installation

[2019-07-09 17:39] erogray commented on #2904
Timeboxing to two hours

[2019-07-09 17:56] #2909 closed

[2019-07-09 17:56] erogray commented on #2909
Closing since it's hard to reproduce; can reopen if it happens again.

[2019-07-09 17:58] erogray commented on #2910
@kerberos7 feel free to reopen this ticket and let us know if you have additional questions or clues.

[2019-07-09 17:58] #2910 closed

[2019-07-10 09:06] lorelajano opened #2916 "Add Tirana Open Data portal to DKAN sites list"
Hello, I am the person responsible for developing and managing the official Open Data portal for the city of Tirana. Now it is public over the internet in the url : https://opendata.tirana.al/
This portal is built with DKAN platform. We would like to add it in the list of DKAN sites published in the official website of DKAN  https://docs.getdkan.com/en/latest/introduction/dkan-sites.html
If there

[2019-07-11 11:01] phwegner commented on #2906
@janette Yes docker and docker-compose is installed !

[2019-07-11 12:44] phwegner commented on #2906
Okay now I got dkan running by removing ```:delegated``` from the docker-compose.common.yml file.
But I'm still facing the problem with the reverse proxy configuration ?
So far I tried to change ```$settings['reverse_proxy'] = TRUE;
$settings['reverse_proxy_addresses'] = [@$_SERVER['REMOTE_ADDR']]``` in the settings.php in the d8 folder.

[2019-07-11 13:59] janette commented on #2906
@phwegner are you trying to stand up a Drupal 7 DKAN instance or Drupal 8?

[2019-07-12 09:28] phwegner commented on #2906
@janette I'm using 7.x-1.16.12 dkan Version

[2019-07-14 17:03] chrisgorgo commented on #2654
It would be great if DKAN made dataset discoverable through [Google Dataset Search](https://g.co/DatasetSearch)! I would love to help you with that (disclaimer I work on the Dataset Search team).

I think there might be some misunderstanding in terms of how the metadata is ingested by googlebot. Instead of a dedicated single JSON file with metadata for the whole catalog the crawlers are expecting

[2019-07-16 16:15] dyaw-Drexel opened #2917 "Migrating from MySQL to Postgres on DKAN?"
I have been able to move the database successfully, but after updating settings.php, I run into various issues, including breaking admin sections. Other then moving the database and updating settings.php, is there anything else I should be doing?

[2019-07-16 17:49] erogray commented on #2917
Hi @dyaw-Drexel, we don't currently recommend using Postgres with DKAN, but there may be good information about how to best do this sort of migration within the larger Drupal community.

[2019-07-16 18:14] dyaw-Drexel commented on #2917
Well since the site is still in development, I went ahead and started fresh using Postgres from the start. Only issue I encountered was it breaks the Panelizer, but I fixed it by patching with this https://www.drupal.org/project/panelizer/issues/2774909 and flushing all caches

[2019-07-16 19:06] janette commented on #2917
Nice! thanks for sharing @dyaw-Drexel

[2019-07-16 19:06] #2917 closed

[2019-07-18 05:30] janette commented on #2654
thanks @chrisgorgo that is great info, I'm thinking we could add `name` and `description` components to https://www.npmjs.com/package/react-structured-data for our dkan2 sites

[2019-07-18 05:51] chrisgorgo commented on #2654
Sounds like a plan!

[2019-07-18 16:11] dyaw-Drexel opened #2920 "Organic Group Access Control on Datasets Not Working"
I'm working on a site where need to control dataset access by group. I am trying to do this by membership in organic groups. However, this does not seem to be working, it still allows members to view the node and download the resources.

_OG Field Settings for Dataset:_

Groups audience

Group content visibility

_Fields in Dataset:_

og_group_ref group_content_access

If I set the fields to "Test

[2019-07-19 00:44] dharizza commented on #2236
I updated everything related to contrast to comply with AAA level.
Also, fixed heading structure in homepage.
I had some issues with the anchors in the resource page and also with the table in the datasets page.
PR related: https://github.com/GetDKAN/dkan/pull/2921

[2019-07-19 13:08] markus-m-becker opened #2922 "Add INPTDAT to DKAN sites"
Please add the site https://www.inptdat.de to http://docs.getdkan.com/en/latest/introduction/dkan-sites.html.

The interdisciplinary data platform INPTDAT provides easy access to research data and information from all fields of applied plasma physics and plasma medicine. It aims to support the findability, accessibility, interoperability and re-use of data for the low-temperature plasma physics co

[2019-07-19 16:38] kimwdavidson opened #2923 "Customer responsibility matrices"

[2019-07-19 16:39] kimwdavidson opened #2924 "Determine costs of using Acquia vs. not"

[2019-07-19 16:40] kimwdavidson opened #2925 "Prototype of DKAN2 site on AWS"

[2019-07-19 16:41] kimwdavidson opened #2926 "Set up CI/CD pipeline for DKAN2 on Google Cloud"
Should be a template that will work for future client sites

[2019-07-19 16:42] kimwdavidson opened #2927 "Discovery: Determine migration path for St. Lucia to DKAN2"
Let's find out what we need to know!
...and then create tickets in DKAN 2 board

[2019-07-24 16:48] #2916 closed

[2019-07-24 20:14] janette opened #2930 "Missing default dashboard content"
1. **Dynamic Transportation Visualizations** dashboard is empty
2. **Crime in America's Top 10 Most Populous Cities** missing some content
[code]

## Acceptance Criteria
- [ ] Remove the empty dashboard
- [ ] Update dkan_default_content to remove content that no longer exists.
- [ ] Confirm you do not get the panopoly widget render error.

[2019-07-25 14:25] #2236 closed

[2019-07-29 12:33] vmendieta opened #2932 "Functionality to display on the main page which is the most consulted dataset"
There is a functionality to display on the main page, which is the most consulted dataset? like a dataset ranking?
I would like to ask a question, if it is not the right place for her, could you tell me where? Thank you

[2019-07-29 18:43] vmendieta opened #2933 "Does Dkan complete Spanish? where can i download it"
Does Dkan complete Spanish? where can i download it

[2019-07-30 12:25] jjalcolea commented on #868
Hi. As an european DKAN user, I'm also very interested on this. What is the situation? We're checking DKAN support of DCAT-AP, maybe we can help in identifying potential  incompatibilities? Or is this already solved?

Best,
Juanje.

[2019-07-30 16:59] #2925 closed

[2019-07-31 08:50] lorelajano commented on #2916
Please can I have an answer?

[2019-07-31 10:50] jjalcolea commented on #868
Hi, by comparing between what is available in the /catalog.xml DKAN URL and the [DCAT 1.2.1 standard](https://joinup.ec.europa.eu/release/dcat-ap/121), we found the following:

1. All mandatory classes and properties seem to be present :-)
2. But the way values are expressed sometimes do not conform to the Range specified in the standard
3. Some values seem to be "hardcoded" and tied to certain si

[2019-07-31 17:10] dharizza commented on #2916
Hello,

Sorry for the late answer, we added the site to the list but the doc wasn't published. We just published it and now you can see the site here https://docs.getdkan.com/en/latest/introduction/dkan-sites.html

Thank you!

[2019-07-31 17:18] lorelajano commented on #2916
Thank you very much !
 I appreciate your help.

[2019-07-31 17:20] #2922 closed

[2019-07-31 17:23] #2899 closed

[2019-08-01 10:24] managume commented on #2933
Nowadays there's no a complete Spanish translation for DKAN. Just a Spanish (Colombian) translation but not too much complete. Here you are [the link](https://github.com/angrycactus/dkan_l10n_es_co)

[2019-08-01 10:38] managume commented on #2932
First of all you need to activate Statistics module. Then you can create a view block using:

### Fields (i.e)
Content: Title
Content: statistics: Total views.
### Filter Criteria
Content: Published (Yes)
Content: Type (=Dataset)
### Sort Criteria
Content statistics: Total views (desc).

To finish go to **Pager** section and in _User pager_ choose how many Datasets you want to show and if you want

[2019-08-01 10:49] rhabbachi commented on #2933
Hey @managume, been a while since I worked on that module. Wondering how was you experience working with it? Are you planning on using it for a production install?

[2019-08-01 11:12] managume commented on #2933
Hi @rhabbachi! Yes, we want to use it in prod. It's a big first helpful step so thanks :) Now we're having some problems installing whole Spanish translation. Maybe first reason is because DKAN doesn't support multilanguage as we thought. I'm installing your module using l10n_update but some Drupal 7 core translation breaks some DKAN functionalities. I'm on it now trying to solve it.

[2019-08-01 11:58] managume opened #2936 "Drupal translation breaks some DKAN functionalities"
I'm working on a DKAN open data portal with Spanish as default language but installing Drupal translations is breaking some DKAN functionalities.

## Add content modal in Page Customizer doesn't display elements

Using l10n_update module to automate translations breaks page customizer.

![image](https://user-images.githubusercontent.com/4390275/62290787-70933100-b462-11e9-9f61-3dfffff37933.png)

#

[2019-08-01 14:33] vmendieta commented on #2932
Thank you very much for your help!!
I will test and comment on the results XD

[2019-08-01 20:06] vmendieta commented on #2932
I could generate a block with a table, but would it be feasible to generate some graph instead of a table?
![bloque](https://user-images.githubusercontent.com/8810083/62323905-57947b00-b476-11e9-857c-7995409cb841.jpg)

[2019-08-02 07:10] managume commented on #2932
I've never used chart format in a view display but it can be interesting. Check this out. https://www.drupal.org/docs/8/modules/charts/create-charts-using-views-0/steps-to-create-charts-using-the-views-ui

[2019-08-06 17:05] vmendieta commented on #2933
mport the .po files from the link
How can I make my own .po to translate what is missing? for example:
![imagen](https://user-images.githubusercontent.com/8810083/62560317-c85adf00-b84a-11e9-8ada-81e85cb208a7.png)

[2019-08-06 22:29] JuanAlejo32 opened #2937 "I have a problem with CartoDB Preview"
when I enabled the CartoDB Preview option and I try to open a .csv file, I get the following problem

![image](https://user-images.githubusercontent.com/22005128/62581721-a6278800-b86f-11e9-9067-20bf214c7519.png)

I apologize for my bad English and I hope you can help me.

[2019-08-07 16:33] #2924 closed

[2019-08-08 16:50] kimwdavidson opened #2938 "Include periodic updates module in 1.17 deployment"

[2019-08-08 19:13] vmendieta commented on #2932
it not worked for me .. someone who can help me please :(

[2019-08-09 18:26] csparr commented on #2680
Would love to see some documentation on this. Will be asking some questions in the DKAN slack channel in case @rhabbachi can answer.

[2019-08-09 20:27] janette commented on #2933
@managume if you can report back your findings/updates we'd love to incorporate them into a future release, and improve the documentation.

[2019-08-09 20:48] janette commented on #2937
@JuanAlejo32 are you toggling the preview from `/admin/dkan/dataset_preview`
or are you adding the dkan_datastore_cartodb module?

Do you have a Carto account?

[2019-08-09 20:55] janette commented on #2920
@dyaw-Drexel your best option would be to create a custom groups permission feature and disable the dkan_dataset_groups_perms module as the default permissions only control who can edit the datasets. All users are allowed viewing permissions.

[2019-08-09 21:01] janette commented on #2930
Also a great opportunity to remove the dkan_dashboard content type from the repo.

[2019-08-11 23:48] vmendieta commented on #2933
@managume @rhabbachi @janette  With that information, more my translations I have been able to translate up to a little more than 70%, but there are functionalities that present problems as in [#2936](https://github.com/GetDKAN/dkan/issues/2936) it can be read that they already reported it before, in English works, so I will be looking for a solution and I will publish it if I find it, while if I

[2019-08-12 13:03] vmendieta opened #2939 "Internal data tab not does not appear"
Internal data  tab  not does not appear, the internal data tab is no longer
![imagen](https://user-images.githubusercontent.com/8810083/62866628-4271e480-bcdf-11e9-8de7-5d5864cc04cb.png)

Steps to Reproduce
1.Go to Administration->Structure->Entity type->Vizualitation->Chart-> Add Chart
## Acceptance Criteria
The internal data tab should be in the form like the image:
![imagen](https://user-images

[2019-08-12 13:49] JuanAlejo32 commented on #2937
activate the view through / admin / dkan / dataset preview and also have a carto account

[2019-08-12 13:52] janette commented on #2939
@vmendieta we can not reproduce this on a standard DKAN installation, are there customizations to your site we should be aware of?

[2019-08-12 14:34] vmendieta commented on #2939
It is a standard insatalcion and I have translated into Spanish, maybe the translation has generated a problem.

[2019-08-12 14:38] vmendieta commented on #2939
I have solved it.
Within **Manage fields** I have added one more field as in the figure
1
![imagen](https://user-images.githubusercontent.com/8810083/62873381-4c9adf80-bced-11e9-9057-04bdd5bd3792.png)
2
![imagen](https://user-images.githubusercontent.com/8810083/62873264-15c4c980-bced-11e9-869b-d390de8367e6.png)

[2019-08-12 15:49] rhabbachi commented on #2680
Link to the Slack thread: https://dkan.slack.com/archives/CCT1QV2J0/p1565375658001700

[2019-08-12 16:56] kimwdavidson commented on #2820
Won't do

[2019-08-12 16:56] #2820 closed

[2019-08-12 17:13] #2939 closed

[2019-08-12 20:31] vmendieta opened #2941 "Is there a related content panel?"
Same as in CKAN, where the content related of one dataset i can see whit the other
Below is an example of what would be in CKAN
![imagen](https://user-images.githubusercontent.com/8810083/62896264-ab2c8180-bd1e-11e9-9123-7c4593a33104.png)

[2019-08-13 17:00] kimwdavidson commented on #2941
There isn't at the moment, but it's a great suggestion! If you submit a pull request, we'd be happy to review it, and in the meantime, we'll add it to our feature request list.

[2019-08-13 17:50] erogray commented on #2930
http://demo.getdkan.com/dynamic-transportation-visualizations is completely blank (Carto?) and error is on http://demo.getdkan.com/crime-americas-top-10-most-populous-cities

[2019-08-13 17:52] erogray commented on #2930
Fix:
- remove transportation from default content.
- Find out what the panopoly error means and fix that.

[2019-08-13 17:56] erogray commented on #2932
Thanks @managume! That's a neat trick. We'll take a look and see if we have any other ideas.

[2019-08-13 20:53] vmendieta opened #2942 "Google Analytics problem"
I have followed the steps to install the Google Analytics module and it does not appear.
Step :
1- download the compressed file from the module from https://www.drupal.org/project/google_analytics
2- I unzipped it
3- I copied it to sites / all / modules /
4- I went to the DKAN administrator but it's not there

Acceptance Criteria:
Expected result-> see the Google Analytics module in the list of ne

[2019-08-14 12:46] managume commented on #2941
@vmendieta maybe solves your need by creating a new content type (e.g. Application) with an _UUID Reference_ field with _Node_ as **Target type** and _Dataset_ checked as **Target bundle**. Now you can create an Application related to a Dataset.

Additionally you can create a page view to show all related Application of a specific Dataset using Filter criteria fields.

[2019-08-14 12:53] managume commented on #2942
https://ftp.drupal.org/files/projects/google_analytics-7.x-2.6.tar.gz

I have tried it with a 7.x.1.16.14 instance and it appears in modules list after installation. Please, try this:

1. Go to https://www.drupal.org/project/google_analytics

1. a

[2019-08-14 14:26] vmendieta commented on #2942
My main problem is that there is no url field, or option to install
![imagen](https://user-images.githubusercontent.com/8810083/63029020-d24d9500-be7d-11e9-9e7a-c04d1c934b55.png)

[2019-08-14 14:32] vmendieta commented on #2942
you see online this opcion in Module
![imagen](https://user-images.githubusercontent.com/8810083/63029387-7afbf480-be7e-11e9-860d-893e367912b8.png)

but the previous version of Dkan in another local instalation i see more opcions, and the option Install

[2019-08-14 14:46] janette commented on #2942
@vmendieta you need to enable the update module to get the "install" UI functionality

[2019-08-14 16:13] vmendieta commented on #2942
@janette I'm new to this, how should I do it please

[2019-08-14 17:38] managume commented on #2942
@vmendieta search in modules list 'Update manager' and enable it

[2019-08-14 18:28] vmendieta commented on #2941
thank you so much for help me

[2019-08-14 18:28] vmendieta commented on #2942
thank you so much for help me

[2019-08-14 19:47] vmendieta commented on #2942
I have already been able to see the installation button but I cannot use FTP, I have tried as I mentioned above and without being able to see Googe Analytics, however I have been able to install, for example, the TagClouds module, simply by copying the folder and then going to Modules and to me the module appeared

[2019-08-14 20:37] vmendieta commented on #2942
I solved it, the user who had permission on the folder had been changed

[2019-08-16 16:47] #2819 closed

[2019-08-19 20:02] vmendieta commented on #2942
I solved it, the user who had permission on the folder had been changed

[2019-08-19 20:02] #2942 closed

[2019-08-20 17:41] erogray commented on #2811
Moving to DKAN Management repo in https://github.com/NuCivic/dkan_management/issues/268

[2019-08-20 17:41] #2811 closed

[2019-08-21 03:58] stefaniefgray commented on #2904
Created https://github.com/GetDKAN/dkan/pull/2943/ - need developer to review and push to live on Read the Docs

May have formatting issues in code block portion since Github doesn't provide accurate previews of RST formatting

[2019-08-21 04:00] stefaniefgray commented on #2904
Also, as per the 2019 DKAN Docs audit showing how our ReadTheDocs directory is organized: https://docs.google.com/spreadsheets/d/1tc7mMYhIqMvkHUPmV7XzEFBndu4dsHZmkwC8-guPfiE/edit#gid=1541715932 --

DKAN Feedback is _not_ an out-of-the-box component of DKAN, and isn't an option on the 7.x.1.x modules page. Therefore, it belongs under Development instead of Components.

[2019-08-21 16:49] erogray commented on #2698
New datastore tables are being generated as InnoDB, this can be considered done

[2019-08-21 16:49] #2698 closed

[2019-08-21 21:50] dharizza commented on #2915
The "View published" button is the expected behavior provided by workbench_moderation, the buttons are not really buttons, they are tabs which let you browser between different pages related to the current node, so the "View published" is in blue because that's the current page (it is a highlighted tab) so the other tabs that may appear (for example the "Add feedback" one) will redirect the user t

[2019-08-21 21:50] #2915 closed

[2019-08-21 21:56] janette commented on #2915
@dharizza we want to avoid displaying the tab if no other tabs are present, as it serves no purpose if there are no revisions to that node.

[2019-08-21 22:16] #2904 closed

[2019-08-22 16:01] kimwdavidson opened #2946 "Create a rough plan for DKAN/CKAN interoperability"
- [ ] Where are potential points for sharing tools between the CKAN and DKAN ecosystems
- [ ] How much can we avoid duplicating efforts?
- [ ] List of what needs to be built for DKAN2 and whether or not it can be shared
- [ ] What is the interoperability strategy? Data packages? Something else?
- [ ] What processes do we need to get the two systems working together

Notes
- DMS roadmap: https://do

[2019-08-22 16:21] vmendieta opened #2947 "Group reoles do not all appear to assign users"
Group reoles do not all appear to assign users
![imagen](https://user-images.githubusercontent.com/8810083/63531352-559e6480-c4d6-11e9-8575-0b245ad21d3e.png)

would be missing:

-editor member
-content creator member

according to the documentation

What I need is a role that can edit and create datasets in your group

With the role of member administrator I can't find where you can upload dataset

[2019-08-22 21:42] vmendieta opened #2948 "Incorrect dataset count on group page"
incorrect number of dataset per group, all brings 0 dataset, since there are already datasets in those groups

![imagen](https://user-images.githubusercontent.com/8810083/63551774-feaf8400-c503-11e9-99ad-1f02f2d18ebf.png)

for example in the indicated group it shows 0 datasets but in the group node we can see that they have 2
![imagen](https://user-images.githubusercontent.com/8810083/63551853-36b

[2019-08-24 19:20] managume commented on #2948
Did you apply any translation after datasets were created? Or any path modification? I had same issue.

What happens if you create a new dataset and relate to a group? If continues showing 0 try to recreate a group and assing it the datasets again.

[2019-08-26 08:45] managume opened #2950 "Add Solucionex to business directory"
Hello! In our company we are interesed in appearing in the [DKAN business directory](https://docs.getdkan.com/en/latest/community/help.html#add-your-company) to offer professional and collaborative services.

**Company:** Solucionex
**Logo:** https://www.solucionex.com/themes/custom/solucionex/img/logos/logo_solucionex.png
**Link:** https://www.solucionex.com/dkan
**Description:**
Solucionex is a

[2019-08-28 20:41] vmendieta opened #2952 "Is there any global search API to return the dataset that have as description a text like the given parameter?"
Is there any way to replicate https://exaple.com/api/3/action/package_search?q=carreras&rows=10&start=1 and return a json with title, description and link o any things.
Record datasets and bring those containing the searched text,  in json format and then be consumed by anyone
I don't know if I'm doing something wrong but he treated the following for example:

http://example.com/api/dataset/search

[2019-08-28 23:19] stefaniefgray commented on #2937
Hi Juan,

On a demo site, I tested going to `/admin/dkan/dataset_preview` and enabling the CartoDB preview for this CSV: http://stefanie.dkandemo.nuamsdev.com/dataset/crime-data-ten-most-populous-cities-us/resource/49daa44a-efa6-4145-92a9-baedc7202e1f

After enabling the CartoDB preview option, I was able to click "View CartoDB preview" for this CSV. When clicking this button, it opened up the Car

[2019-08-28 23:56] stefaniefgray commented on #2932
@managume Thank you so much for your contributions to this thread!

@vmendieta Your idea for creating a chart from a View is fascinating! Although I haven't been able to figure out how to get it to work, I'm going to pass this on to one of my DKAN colleagues and see if they can think of a solution. Will keep you posted if I hear anything!

[2019-08-29 13:26] vmendieta commented on #2932
Thank you very much, I will be attentive to any feddback

[2019-08-29 13:38] vmendieta commented on #2941
The solution that I have found is simple, I have generated a view that collects a type of "Applications" content that I have created more or less as I mentioned it @managume , although it could in the future have by default this content in DKAN, which is generated in a  automatic way when putting the dataset an information of related applications.
My solution:
![imagen](https://user-images.githubu

[2019-08-29 14:55] janette opened #2953 "Restore unlimited index queries permission"
Missed a permission on the switch from dkan_sitewide_roles_perms to dkan_permissions.
[code]

## Acceptance Criteria
Add the goals and desired results that this issue should accomplish when complete.

- [ ] Administrator role can perform unlimited index queries (not bound to 100 record limit)
        `api/action/datastore/search.json?resource_id=960687d8-582c-4f29-b1e4-113781e58e3b&limit=200`
- [

[2019-09-02 12:35] managume commented on #2952
Option almost matches with that kind of request is _[/api/3/action/package_show](https://github.com/GetDKAN/dkan/blob/b788192579843a1d083b3d2a804568c7433db061/modules/dkan/open_data_schema_map_dkan/open_data_schema_map_dkan.features.inc)_ but a dataset id is required. So you can't make a global search.

Another option is _/api/dataset/node.json?parameters[type]=dataset_ but the response doesn't co

[2019-09-03 18:38] managume commented on #2953
After adding the line
`'perform unlimited index queries' => TRUE`
to _dkan_permissions/dkan_permissions.features.roles_permissions.inc_ at
`$roles['anonymous user'] `
it already lets me get more than 100 results.

Finally the anonymous user role array would look like this:

[code]
I don't know if adding this line can generate some kinf of conflict with another function or it can be insecure.

[2019-09-03 19:25] erogray commented on #2947
Hi @vmendieta - it seems like there's some confusion here between the Drupal site roles (described in https://dkan.readthedocs.io/en/latest/components/permissions.html) which apply to the whole site, and the Groups roles (described in https://dkan.readthedocs.io/en/latest/components/dataset/groups.html#managing-groups-and-members), which just apply to a particular Group.

Anyone with an Editor or

[2019-09-03 19:38] janette commented on #2953
@managume that will work fine until you need to upgrade DKAN. The next time you upgrade your DKAN code, you could create a patch to add the permission for anonymous users or if you have additional 'overrides' you could create a custom_permissions module outside of the dkan profile and disable the dkan_permissions.

[2019-09-09 17:47] janette opened #2955 "Fix WCAG color update implementation"
The color changes implemented on #2921 were added to a css file that gets regenerated when re-compiled. Will need to set up local environments to work with multiple versions of node. Nuboot-Radix work requires the use of v10 and dkan2 work requires v12

## Acceptance Criteria
Add the goals and desired results that this issue should accomplish when complete.

- [ ] NVM is installed locally and mana

[2019-09-10 14:26] manduda commented on #2417
I have the same problem. After import into database, datapreview show "Error".

This solution is not working for me. Rewrite module was already enabled.

[2019-09-10 18:16] erogray commented on #2952
Currently DKAN doesn't have a global api, but we're working on building this into DKAN 2, the Drupal 8 version (still in early stages but coming soon).

[2019-09-16 11:10] jjalcolea commented on #2953
I've found what may be a side-effect of this bug: when **not logged** and  previewing a resource in any of the Recline views, any range of size above 100 records does not change the data being previewed. It pages correctly through data in 100 record chunks, but any "page size" bigger than that, does not have any effect on the data (=still displays only 100 records at most).

If you're logged in, i

[2019-09-16 20:22] erogray commented on #2926
@kimwdavidson does this ticket need additional notes?

[2019-09-16 20:22] erogray commented on #2927
@kimwdavidson does this ticket need additional notes?

[2019-09-17 14:20] kimwdavidson commented on #2926
@aabond: what do you think we should do with this ticket?

[2019-09-17 14:59] aabond commented on #2926
Hello @kimwdavidson,

I spoke with Karen yesterday about this.  She mentioned she would chat with you and Tejas to see if I could have some more time to finish this before getting back on Globalnet.  Not sure if a consensuses has been reached.  Perhaps @janette , @dafeder , and @fmizzell could continue fleshing out the jenkins-x pipeline (i.e. add the integration tests, enable the db restores, etc

[2019-09-21 03:24] chrisgorgo commented on #2654
Any progress on adding schema.org to dkan? Many government data repositories would benefit from it!

[2019-09-24 09:38] rajatmtr30 opened #2966 "HarvestSource machine_name not found DKAN ERROR"
Add a brief description about the purpose of the issue.

## Steps to Reproduce
Add steps for reproducing the issue including any file(s) needed to reproduce.

1. when i add a source in harvest source 404 not found popup comes.
2. In logs" HarvestSource machine_name not found." messgae comes and i unable to add harvest source ibn dkan locally
![Screenshot from 2019-09-24 15-08-02](https://user-imag

[2019-09-25 19:25] erogray commented on #2966
Hi @rajatmtr30 — can you tell us a bit more about this? What source are you trying to harvest from, and what's the machine_name that is showing up in the harvest? (Also, what version of DKAN is this?)

[2019-09-26 04:05] rajatmtr30 commented on #2966
Hi @erogray   --- i m using drupal version : 7.67 and for dkan by this url i clone $ git clone --branch 7.x-1.x https://github.com/GetDKAN/dkan.git .
I m trying to add the url in harvest source:
http://data-atgis.opendata.arcgis.com/data.json

[2019-09-26 18:02] erogray commented on #2966
Hi @rajatmtr30 — I suspect that this is an issue with the machine_name for the harvest. I've been able to harvest from http://data-atgis.opendata.arcgis.com/data.json without any trouble, but we've seen some issues with harvests in the past if the harvest name itself is extra long or has unusual characters. The machine_name gets created from the title that you give a harvest.

<img width="348" alt

[2019-09-26 20:04] janette commented on #2966
FYI when creating a harvest you are able to edit the machine name, it just defaults to use the first 31 characters of the title otherwise

![edit_harvest_machine_name](https://user-images.githubusercontent.com/314172/65721061-ed134c00-e06e-11e9-85b4-5433dad837aa.png)

[2019-09-27 04:30] rajatmtr30 commented on #2966
I m getting too confused in creating harvest source . machine name is not coming in below title. And after creating harvest source this page is coming and after go back i got the name in list harvest
![Screenshot from 2019-09-27 09-58-32]

(https://user-images.githubusercontent.com/52307959/65742404-9c9efb80-e10d-11e9-8e93-d3d5899fd3db.png)
![Screenshot from 2019-09-27 09-57-29](https://user-image

[2019-09-27 09:09] rajatmtr30 commented on #2966
Hi @erogray @janette  can you please share the steps to install locally dkan with all functionalities in fresh ubuntu 18.04.

[2019-09-27 13:36] janette commented on #2966
@rajatmtr30 you won't see the machine name below the title until you start typing.

Here are installation instructions: https://dkan.readthedocs.io/en/latest/installation/basic.html

[2019-09-30 20:23] erogray commented on #2926
Closing in favor of https://github.com/NuCivic/dkan_management/issues/303

[2019-09-30 20:23] #2926 closed

[2019-09-30 20:25] erogray commented on #2927
This can wait until DKAN 2 process is better established.

[2019-09-30 20:25] #2927 closed

[2019-10-07 03:54] rajatmtr30 commented on #2966
thank you it resolved now

[2019-10-07 03:54] #2966 closed

[2019-10-08 17:54] erogray commented on #2948
@stefaniefgray can you investigate?

[2019-10-09 07:20] rajatmtr30 opened #2969 "dkan harvest scheduling"
Hi ,
I tried to harvest a endpoint url. it is successfully harvest but now i have to add scheduling in harvest source so if any change in data.json it automatically update the datasets at a certain period of time. Just like i want to check on daily basis if any change comes in data.json the harvest data changes.

Here is a description "Click "Edit" above to change the source's configuration, click

[2019-10-10 17:29] vmendieta commented on #2948
I may have to see:
Some dataset show the group and others do not, I am using a Spanish translation
![imagen](https://user-images.githubusercontent.com/8810083/66591790-18fff880-eb6a-11e9-8d74-58d38acf491e.png)

![imagen](https://user-images.githubusercontent.com/8810083/66591832-36cd5d80-eb6a-11e9-9818-1bb1d88a9ed9.png)

![imagen](https://user-images.githubusercontent.com/8810083/66591879-52d0ff00

[2019-10-11 13:30] vmendieta opened #2970 "the group no longer appears"
Some dataset show the group and others do not, I am using a Spanish translation (both belong to the same group but only in one sample)
![imagen](https://user-images.githubusercontent.com/8810083/66655218-122cc080-ec12-11e9-9731-d63a743fb1f9.png)
![imagen](https://user-images.githubusercontent.com/8810083/66655251-1e188280-ec12-11e9-8efc-d9f845c6af94.png)
![imagen](https://user-images.githubusercon

[2019-10-14 02:48] akuckartz commented on #2595
The source code of that validator is available here: https://github.com/SEMICeu/dcat-ap_validator but it does not seem to be maintained.
@dafeder These are newer:
https://github.com/SEMICeu/dcat-ap_shacl
https://github.com/tenforce/vodap-dcatap-validation

[2019-10-15 18:48] erogray commented on #2969
Hi @rajatmtr30, feel free to reopen this ticket if you have additional questions.

[2019-10-15 18:48] #2969 closed

[2019-10-15 18:51] erogray commented on #2948
See also https://github.com/GetDKAN/dkan/issues/2970

[2019-10-16 20:20] dharizza commented on #2950
Hello,

Your company appears now in our directory here https://docs.getdkan.com/en/latest/community/help.html#add-your-company

Thank you.

[2019-10-16 20:20] #2950 closed

[2019-10-21 07:13] sediqamousavi opened #2974 "Get a list of topics through the rest api"
I want to get a list of topics through the rest API. By what URL can I get this listing?

[2019-10-21 21:41] stefaniefgray commented on #2948
Hi @vmendieta,

Have you tried re-indexing? Please go to `admin/config/search/search_api/index/datasets` to re-index the listing of datasets and their associated groups, and let me know if this solves the issue.

Thanks!
Stefanie Gray
CivicActions Support

[2019-10-21 22:11] stefaniefgray commented on #2970
Closing in favor of https://github.com/GetDKAN/dkan/issues/2948

[2019-10-21 22:11] #2970 closed

[2019-10-22 12:33] vmendieta commented on #2948
there is a function called og_get_entity_groups, in node.inc and og_get_entity_groups in og.module that bring that data .. but or surprise it is only saved in og_membership if it is defined in the Group field in the data set creation form that Values ​​as an organic group mode ... I don't know why being that another type should also be saved. What it was to switch to organic group mode and reload

[2019-10-22 21:56] stefaniefgray commented on #2932
Hi @vmendieta

Sincere apologies for such a late response! We've looked into this issue, and unfortunately, haven't been able to find a way to make charts from a View.

Wishing you the best of luck in researching a solution - and if you find one, please share it with us. :)

[2019-10-23 17:10] vmendieta opened #2976 "Fail to make only administrators create users"
How can I make it that only administrators can create a user, I have already tried to take the permissions on roles and assign roles but it didn't work

[2019-10-23 17:18] erogray commented on #2976
Hi @vmendieta — are you talking about removing that permission from the Site Manager role?
That'd be a significant change in the meaning of the role.

[2019-10-23 18:59] vmendieta commented on #2976
well only the administrators and the site managers can create a user

[2019-10-23 19:04] vmendieta commented on #2976
something like that
https://www.drupal.org/project/corporative_site/issues/1452812

[2019-10-29 17:57] erogray commented on #2976
Hi @vmendieta - as a general rule, it's best for active users not to be Administrators at all, and anyone that you want to have administrator-like capabilities should be a Site Manager. Generally there should not be many Site Managers. Anyone that you do not want to create users should not be a Site Manager.

This way you don't need to adjust the meaning of the roles.

[2019-10-30 19:29] janette commented on #2974
Not finding a way to do this on dkan for drupal 7, these are what I've tried:
[code]

on dkan for drupal 8 it is
`/api/v1/theme`

[2019-10-31 14:36] #2166 closed

[2019-11-01 01:27] #2974 closed

[2019-11-08 15:42] smielza commented on #1031
Experiencing two errors. Thought it may be related to conflicts with unix and AFS permissions, but access to /files where our media is pointed to for upload is 755 (full access). Please help!

![Screen Shot 2019-11-07 at 2 11 15 PM](https://user-images.githubusercontent.com/57536238/68489018-4648d080-0214-11ea-8a1a-44a040d55479.png)
![image](https://user-images.githubusercontent.com/57536238/68489

[2019-11-12 13:54] smielza opened #2979 "Upload errors"
Looks like we are receiving two separate upload errors. The first was one of our users attempting to upload an .xlsx file, and the second screenshot is myself trying to upload a .png and then a .doc. I inherited this site, did not set it up myself.

![image](https://user-images.githubusercontent.com/57536238/68677094-6e447680-0529-11ea-8b34-3cb8cf69498d.png)

![image](https://user-images.githubuse

[2019-11-13 07:08] krtrimaiq opened #2980 "Not able to create charts in dkan"
I have installed the dkan on Digital Ocean Ubuntu(18.04) droplet. I followed

https://medium.com/@supunbandara06/how-to-deploy-the-dkan-product-on-an-aws-ec2-ccacc667f065  to install the dkan.

I am facing multiples issues.

1. When I am pressing the create data dashboard button, I am getting a page not found(404) error.
2. add chart process is getting stuck in the first step itself. I am attachin

[2019-11-13 14:30] janette commented on #2980
@krtrimaiq what happens when you click the 'Next' button at the bottom?

[2019-11-13 20:18] erogray commented on #2979
Hi @smielza - what version of DKAN are you using? if older than 7x.1.17 then you might want to update it to take advantage of more current patches.

[2019-11-13 20:28] smielza commented on #2979
Thanks @erogray I think you're right - I know it was set up in March 2019 - what's the best way to check my version?

[2019-11-13 21:32] janette opened #2981 "Remove Administration Views module"
https://www.drupal.org/sa-contrib-2019-076

The module is no longer supported. Remove it from the code base.

## Acceptance Criteria
- [ ] admin/content = dkan_administration_nodes
- [ ] admin/files = dkan_administration_files
- [ ] remove dependencies[] = admin_views
- [ ] dkan_feedback and dkan_workflow work as expected

[2019-11-14 04:34] krtrimaiq commented on #2980
Nothing.. It just stays on the same page

[2019-11-14 15:10] nandt commented on #2981
hello Janet ! Do you have any plan for the module?

[2019-11-14 16:29] krtrimaiq commented on #2980
Hi @janette ,
I have followed the procedure which is mentioned in the below link.
((https://medium.com/@supunbandara06/how-to-deploy-the-dkan-product-on-an-aws-ec2-ccacc667f065))
Am i missing anything?...could not understand what could be the issue.Appreciate your help.
Thanks in Advance,
Regards,
Chandrasekhar

[2019-11-15 00:44] janette commented on #2981
Hi @nandt,
the plan is to remove admin_views from the code base.

[2019-11-15 06:28] janette commented on #2980
@krtrimaiq what version of php are you running? Is jquery_update enabled and set to 1.10?

[2019-11-15 06:35] janette commented on #2979
@smielza you can check the changelog file or view the install profile on `admin/reports/status` to see what version of dkan you are running. The /sites/default/files directory should be 775.

[2019-11-16 02:35] stefaniefgray opened #2987 "SCSC 2019 UPDATES: Financials tab updates"
**General:**
- [ ] Remove the “Exceeds Standard” category from the scoring tables.
- [ ] The Total Points Available at the end of Indicator 1 should now equal 70.
- [ ] The Total Points Available at the end of Indicator 2 should now equal 30.

**NEW MEASURE 1D:** “Measure 1d, Annual Debt to Income (DTI): Total Annual Debt Payments (Debt Service) / Total Revenue”

**THE OLD MEASURE 1D IS NOW 1E:**

[2019-11-16 02:37] #2987 closed

[2019-11-16 06:59] krtrimaiq commented on #2980
Hi @janette,
Thanks for your response,
Btw,i am using Ubuntu 18.0 and php 7.0 (tried with 7.2 also )  having the same problem and dkan version is dkan-drops-7
Coming to your question, Yes jquery is enabled and version is set to 1.10.2.please find attached screenshot with the jquery and errors i was getting.
![image](https://user-images.githubusercontent.com/52441917/68989423-a7a01d80-086c-11ea-8aa

[2019-11-16 16:18] krtrimaiq commented on #2980
Hi @janette ,
Am i installing the correct Dkan version?.. or can you please point me to correct version with installation procedure?..
Thanks in advance,
Regards,
Chandra

[2019-11-18 15:47] #2981 closed

[2019-11-18 18:07] jjalcolea opened #2990 ""group_list" CKAN API endpoint does not seem to use parameter "all_fields""
## Steps to Reproduce
1. Access http://demo.getdkan.com/api/3/action/group_list?order_by=name&all_fields=TRUE
2. Only names are returned but "full group dictionaries instead of  just names" is expected, as stated in the help field contained in the response.

## Acceptance Criteria
- full group dictionaries instead of  just names should be returned

[2019-11-18 23:03] janette opened #2991 "Pantheon easy install process broken"
[code]

https://www.drupal.org/forum/support/installing-drupal/2014-08-24/cant-install-call-to-undefined-function-field_attach_load

[2019-11-19 11:27] managume opened #2992 "Error after update release 7.x-1.17.1 in Pantheon"
After update dkan instance hosted in Pantheon to 7.x-1.17.1 the following warning is displayed:

[code]
According to the suggested [documentation](https://www.drupal.org/node/2487215) an option is use Drush to execute the query to delete the row related to admin_views module:

[code]
After that trying to log in but it looks like that log in process is failing because I can't see administration too

[2019-11-19 12:09] managume commented on #2992
### Update
I have been trying to use another option instead of previous one of ```drush sql-query```:

1. Execute command ```drush updb -y``` to apply changes to database.

[code]
2. Execute command ```drush cc all``` to clear all caches.

### Result
Same erroneous behaviour remains. Administration toolbar doesn't appear and I still have 'access denied' to the admin interface.

![image](https://us

[2019-11-19 12:22] managume commented on #2992
## Update
Identified and solved 😅 They are two different issues.
### Issue 1: admin_views warning after update
[code]
Solved launching Drush commands. Check [this](https://github.com/GetDKAN/dkan/issues/2992#issuecomment-555479675)

### Issue 2: Problem with denied access
That was being caused by ```$cookie_domain``` variable in ```settings.php```

Just comment that line and all back to work fine.

[2019-11-19 12:22] #2992 closed

[2019-11-21 13:23] phwegner opened #2993 "PyDKAN"
Im currently using PyDKAN to create Datsets. I want to do this with a json that contains all Meta Data I need to know. The problem ist the structure of such a json file. I tried :

[code]

Is there any documentation where I can find what field needs what structure because right now Im getting
[code]
Im using the following Script:
[code]

[2019-11-22 15:57] smielza commented on #2979
@janette & @erogray  Got it. Can you point me toward the files I need? I'll need to manually update in my test site and the patching steps don't seem to be working. Still getting errors on the file.module

[2019-11-27 16:04] smielza commented on #2979
Writing back to close the issue: discovered it's unrelated to patching. We have a bug where we must let Drupal create the folder(s) in which the uploads are stored.  Went in to each content type individually and managed the field to assign a non-existant subfolder beneath /files. Seeing it missing, Drupal created the subfolder, and uploads now work.
This is in conjunction with AFS and unix permiss

[2019-11-28 10:05] jjalcolea opened #2994 "Column ordering triggers fatal error if data imported to DataStore"
If you try to order a datastore-imported CSV resource by any colum in the preview page, it fails and renders Recline unusable.
Please note that this error doesn't happen if the data is not imported to the DataStore.

## Steps to Reproduce
1. Upload a CSV file
2. Import to DataStore
3. Preview in table mode
4. Click on any column title to order by that column

Additionally, we've found cases of thi

[2019-11-28 10:07] jjalcolea commented on #2994
Additional information: all our CSV files are UTF-8 and all column names are a mix of lower case letters and occasionally the "_" character in between.

[2019-12-02 18:30] janette commented on #2994
thanks @jjalcolea for reporting this

`Uncaught TypeError: Cannot read property 'total' of undefined`

https://github.com/GetDKAN/recline/blob/6db1ab729d14f40150f6571457331ff3bde8752d/backend.ckan_get.js#L115
[code]

[2019-12-03 18:51] janette commented on #2948
@stefaniefgray have we tried reproducing the issue?

[2019-12-20 22:32] stefaniefgray opened #2999 "HHS: Need to add new harvests on live"
New harvest sources: (Each can be accessed via /data.json)
- Data.CMS.gov
- Data.Healthcare.gov
- Data.Medicaid.gov
- OpenPaymentsData.CMS.gov
- plan-finder.data.medicare.gov

Associated JIRA ticket: OPENDATA-731

[2019-12-20 22:33] stefaniefgray commented on #2999
Wrong repo (argh ZenHub!)

[2019-12-20 22:33] #2999 closed

[2019-12-26 07:32] AhmadMiladKakar opened #3000 "File encoding UTF-8 Issue after Importing to Data API"
When I am going to upload a resource that has CSV-UTF-8 format to Dataset,
it is previewing and downloading correctly but when I am going to manage datastore and importing to generate Data API, my resource file Local language changes to symbols during downloading the file from Resouces.

## Steps to Reproduce

1. Upload Resource
2. Preview Resource
3. Download Resource (Work properly)
3. Manage Da

[2019-12-31 18:53] #2979 closed

[2020-01-07 20:05] stefaniefgray commented on #2900
**Schneurle update:**

This is what he would like us to do:

Add a second field to the group description, so that one could type both a full description (for the group sidebar) and a shorter "teaser text" version (for the Groups page). That second one looks like it should be <140 characters.

@dharizza Can we get an estimate on how long this would take? Thanks!

[2020-01-08 07:03] datphamict opened #3006 "How to import big sample data to DKAN?"
Dear all,

I would like to test performance Dkan. Could you please help me how to import big sample data to Dkan?

Thanks.

## Steps to Reproduce
Add steps for reproducing the issue including any file(s) needed to reproduce.

1.
2.
3.

## Acceptance Criteria
Add the goals and desired results that this issue should accomplish when complete.

- [ ]
- [ ]
- [ ]

## Subtasks
Add a list of things that

[2020-01-09 01:15] #3006 closed

[2020-01-09 22:15] dharizza commented on #2900
That field is already a long text and summary field, so I think we should just activate that option for the users to be able to edit the summary, so if summary is added that will be shown, otherwise, trimmed body will be shown. I'd say whole work would take 2h top.

[2020-01-10 02:18] stefaniefgray commented on #2900
Emailed Schneurle in opendata-632; waiting on response

[2020-01-16 11:03] jjalcolea commented on #2994
Hi @janette , just curious if you plan to address this bug anytime soon; it's quite visible and really detracts from the DKAN user experience...

Thanks in advance,

Juanje.

[2020-01-21 16:14] #2923 closed

[2020-01-21 21:26] janette commented on #2882
@beeyayjay hold on this one, we are removing workbench from HHS which would make this no longer needed.

[2020-02-05 11:52] jensr opened #3014 "DCAT Version 2"
Hi
With the recent announcement that DCAT version 2 is now published (https://www.w3.org/blog/2020/02/data-catalog-vocabulary-dcat-version-2-published-today/ ) I was just wondering if there is a roadmap for DCAT 2 implementation for DKAN?

From my (limited) understanding, the new version relaxes certain constraints, while adding new classes and properties.

[2020-02-05 11:53] jensr commented on #2654
Hi there - same as @chrisgorgo - just checking back if any progress is being made on this? It would be hugely beneficial for our DKAN repo to have this implemented.

[2020-02-05 17:52] erogray commented on #2877
Closing in favor of https://github.com/GetDKAN/dkan/issues/2685

[2020-02-05 17:52] #2877 closed

[2020-02-05 20:13] erogray commented on #2946
@kimwdavidson  is this still in our roadmap?

[2020-02-05 20:23] erogray commented on #2682
@fmizzell should this be a dkan2 ticket?

[2020-02-05 20:29] erogray commented on #2654
To be done in DKAN 2 via https://github.com/GetDKAN/dkan2/issues/307

[2020-02-05 20:29] #2654 closed

[2020-02-06 17:50] erogray commented on #2994
@jjalcolea the CivicActions team has been putting most of our efforts toward building out DKAN2, which doesn't use Recline (and thus doesn't have this particular problem). We'd be happy to look at a pull request though!

[2020-02-07 06:25] managume commented on #2994
Bug is in the **objToQuery** function that builds and returns the query string. Currently it is building the **sort** parameter like this:

`&sort=cod_universidad asc`

And the right way should be:

`&sort[cod_universidad]=asc`

So a possible solution is to add the following condition in [line 136](https://github.com/GetDKAN/recline/blob/6db1ab729d14f40150f6571457331ff3bde8752d/backend.ckan_get.js

[2020-02-07 15:20] kimwdavidson opened #3067 "First release of DKAN"
Flip the demo site URL, publish blog post, update getdkan.org, and make a slack announcement at the same time for a public announcement.

Soft launch for mid- April, announcement on May 1st

Success criteria: a new developer can set up St. Lucia on DKAN2

[2020-02-07 16:18] janette commented on #2685
The drush command should do the steps outlined https://app.nuclino.com/CivicActions-Open-Data/DKAN-Team/General-Support-77d091be-adc0-48f1-85a1-3f2671caa86c

[2020-02-07 21:13] kimwdavidson opened #3066 "DKAN2 intro blog post"
https://medium.com/p/aee0acf69c1e/edit

Gdoc version here: https://docs.google.com/document/d/11hdAzaRFQxRmZ-2VQ04DGOfT0xvv_FIEfYS6LKYyAQ4/edit?usp=sharing

[2020-02-10 16:45] #2900 closed

[2020-02-10 21:44] #2994 closed

[2020-02-10 21:52] janette commented on #2994
Thank you @managume your fix is in the [latest release](https://github.com/GetDKAN/dkan/releases/tag/7.x-1.18.1)

[2020-02-10 21:57] #2685 closed

[2020-02-11 18:07] beeyayjay opened #3019 "Misspelling on datastore page"
On `/node/[resource-nid]/datastore`:
![csv___DKAN.png](https://images.zenhubusercontent.com/5d7908d1fb288f0001ceb853/a40021c2-0b53-4f4b-9ed5-da7998ea5bdf)

[2020-02-11 19:22] erogray commented on #2932
Closing since we don't have a current solution; please feel free to reopen if progress is made

[2020-02-11 19:22] #2932 closed

[2020-02-12 06:48] sediqamousavi opened #3020 "Pagination (Data Lost and Repeat)"
When there are more datasets in the topic, data needs to paginate in several pages, after clicking on the next page, some data of the first page are repeating on the next page and some of them become lost.
I think this problem is related to adding the query string parameter to URL

![Capture](https://user-images.githubusercontent.com/43989585/74309810-46afb500-4d89-11ea-8153-dec561bcb4b0.PNG)

[2020-02-12 13:51] beeyayjay commented on #793
Note that if the workbench_moderation module is enabled, the 'Revert' button works properly for editors.

[2020-02-12 16:10] janette commented on #3020
@sediqamousavi I am unable to reproduce the issue, do you have custom code that might be altering the results? Otherwise try re-indexing your datasets here `admin/config/search/search_api/index/datasets`

[2020-02-12 19:10] sediqamousavi commented on #3020
@janette I don't have custom code and I also re-indexed the datasets but it didn't solve the problem
![Capture](https://user-images.githubusercontent.com/43989585/74368020-7514ab00-4df0-11ea-849a-52e51f0920da.JPG)
## Steps to Reproduce:
1- please go to this link [http://data.gov.af:8090/search/field_topic/health-4/type/dataset?sort_by=changed&q=search/field_topic/health-4/type/dataset&page=0%2C1](

[2020-02-12 20:20] erogray commented on #3020
Hi @sediqamousavi this looks like it must be a search indexing issue; we see that the "Users of Family Planning" shows up twice in search _only_ if the dataset filter is off (this should normally mean that you'd see datasets and also resources). Can you retry reindexing?

Are you seeing it happen with any other specific datasets?

[2020-02-12 20:37] sediqamousavi commented on #3020
@erogray Hi ero,
I have tried reindexing and I saw this problem with other datasets

[2020-02-13 15:37] beeyayjay commented on #793
This turned out to be a bug in the 'Organic groups moderation' module.

[2020-02-13 18:50] beeyayjay commented on #2948
I haven't been able to reproduce this issue. Translating the site didn't make any difference, either to the count of pre-existing datasets or of new ones.

I'm wondering about the  Oct 22 comment. Is there another way of attaching datasets to groups besides setting the Group field (og_group_ref) on the dataset?

[2020-02-14 17:50] beeyayjay commented on #2948
Closing because I can't reproduce.

If this is still an issue, feel free to reopen. Include steps to reproduce if possible.

[2020-02-14 17:50] #2948 closed

[2020-02-17 22:31] janette opened #3024 "Too few arguments to function on ODSM"
If you run `drush odsm-filecache ` without passing an argument you get an error:

[code]

## Steps to reproduce
- run `drush odsm-filecache` without an argument
- confirm you get the error

## QA
- add a resource to a dataset
- run `drush odsm-filecache` without an argument
- confirm you do not get the error
- confirm the `data_json_1_1` endpoint was updated with the new resource

[2020-02-19 10:36] eGovCologne commented on #2554
The problem still occurs with version 1.17.1.

[2020-02-19 14:44] eGovCologne opened #3026 "datastore import: csv-file with numeric column name"
Importing a csv-file with numeric column name in the datastore without changing the entire column name does not work.
According to the mysql indentifier specification the import should work, if the column name is quoted with backticks `.

## Steps to Reproduce
Upload a csv-file with a numeric column name in the datastore.
If the column is called 4, the column looks like __num_4 after datastore imp

[2020-02-19 17:48] erogray commented on #793
Closing since https://github.com/GetDKAN/dkan/pull/3022 is merged

[2020-02-19 17:48] #793 closed

[2020-02-19 20:32] erogray commented on #3020
Hi @sediqamousavi, we can't see the site and haven't been able to replicate the problem; please feel free to reopen this issue if you'd like to discuss further.

[2020-02-19 20:32] #3020 closed

[2020-02-19 22:16] kkwaiser opened #3027 "Show only parent topics in search/type/dataset"
I have populated the Topics taxonomy extensively where each parent topic has a child term for each variable corresponding to the dataset. This creates a mess in the facet api search widget on the dataset search page (~/search/type/dataset) because the highest level parents don't all show up. They are crowded out by the child terms. See attached for a screenshot.

Given the Topics search widget can

[2020-02-20 00:23] #3024 closed

[2020-02-20 04:34] #2901 closed

[2020-02-20 06:16] sediqamousavi commented on #3020
Hi @erogray our sort criteria (sort by changed) can't give our entries a unique position and then bug occurs
In our view interface, under "Sort Criteria" I added a filter called : "Indexed Node: Entity ID" and placed it third under the "Indexed Node: Date created (Exposed)" filter.

[2020-02-20 13:41] seshelby opened #3028 "DKAN Harvest Failures"
First, I apologize if this is not the place to post this. I have been unable to find a general forum to request help regarding DKAN. We have been unable to get harvest to work as expected. During the harvest new datasets are always created but generally only one or two resources are added. The failure is always with the following error: filesize(): stat failed for http://datahub-gocolumbiamo.opend

[2020-02-20 18:20] kkwaiser commented on #2993
One option is to install the Devel module, enable the execute php block and then load and print an example dataset.

For example, entering this text into the execute PHP block for a dataset (node 38)
[code]
![image](https://user-images.githubusercontent.com/20301346/74965545-6d05ce00-53e3-11ea-8231-acfd0f86c49c.png)

and then printing the node object using the dpm() command shows the following.

!

[2020-02-20 21:54] beeyayjay commented on #2356
The `<i>` tag isn't actually deprecated, and using it to display an icon is common practice, but automated accessibility checkers may flag them because they do not contain any accessible content.

Adding  an `aria-hidden` attribute, to let checker know that this is intentional.

[2020-02-20 21:58] #3019 closed

[2020-02-20 21:58] beeyayjay commented on #3019
This was fixed in https://github.com/GetDKAN/dkan/pull/3025.

[2020-02-20 23:57] janette commented on #2991
blocked by https://github.com/NuCivic/dkan_management/issues/351

[2020-02-21 10:39] frederic-balu commented on #2330
Same issue on LAMP environment.

[2020-02-21 16:18] kkwaiser commented on #3027
I believe the solution is to uncheck the "expand hierarchy" while editing the display of the field_topic field (admin/config/search/facetapi/search_api%40datasets/block/field_topic/edit). I also changed the hard limit (under Global settings) to unlimited. Not sure what knock-on effects this will have.

![image](https://user-images.githubusercontent.com/20301346/75051431-e234da00-549b-11ea-969e-4bd

[2020-02-21 16:18] #3027 closed

[2020-02-24 17:32] #2356 closed

[2020-02-24 17:50] erogray commented on #2882
No longer necessary since this is an uncommon issue with a Views workaround

[2020-02-24 17:50] #2882 closed

[2020-02-25 18:56] erogray commented on #3026
Thanks eGovCologne! This seems like an interesting puzzle; our folks are currently focused on DKAN 2, but if you'd like to submit a pull request for this issue we'll be happy to review it.

[2020-02-25 18:56] #3026 closed

[2020-02-25 19:00] erogray commented on #3014
Hi @jensr -- we're looking into this for the Drupal 8 version of DKAN, DKAN2 will eventually be adjustable/customizable for different schemas. No current plans to do this for DKAN 1 though.

[2020-02-26 12:05] jensr commented on #3014
Thanks Ero - that makes sense - given the developments towards Drupal 8, i completely understand this.

[2020-02-26 12:05] #3014 closed

[2020-03-03 18:44] janette commented on #2980
@krtrimaiq it is hard to say what might be causing the problem without access to the server
- Check file permissions
- Checkout latest dkan-drops-7

good luck

[2020-03-03 18:47] janette commented on #2990
Good catch, we'd be happy to review a pull request to fix it.

[2020-03-03 18:49] janette commented on #2991
let's test building from the dkan-drops-7 repo

[2020-03-03 19:00] janette commented on #3028
@seshelby when I harvested your source, it indicated that several resources did not have a proper file path. The downloadURL and accessURL urls must actually point to a file.

[code]

[2020-03-04 20:11] janette commented on #3000
@AhmadMiladKakar can you try this revision https://github.com/GetDKAN/dkan/pull/3025, or wait for fix, it will be in the 1.18.3 release

[2020-03-04 20:21] janette commented on #2843
@datphamict you will need to use the UI to add the file to the datastore, it is not automatic.

[2020-03-04 20:23] janette commented on #2841
Closing due to lack of activity.

[2020-03-04 20:23] #2841 closed

[2020-03-04 20:23] janette commented on #2815
Feeds is no longer supported. Please upgrade your build with the latest release.

[2020-03-04 20:23] #2815 closed

[2020-03-04 20:24] janette commented on #2794
Closing due to lack of activity.

[2020-03-04 20:24] #2794 closed

[2020-03-04 20:27] janette commented on #2779
@OmarBochkati the feature seems to be stalled but you could try this PR https://github.com/GetDKAN/dkan/pull/2801

[2020-03-04 20:27] janette commented on #2761
Closing due to lack of activity.

[2020-03-04 20:27] #2761 closed

[2020-03-04 20:30] janette commented on #2596
This would be a great feature but is not currently scheduled in the roadmap. Community contributions are welcome.

[2020-03-06 11:34] seshelby commented on #3028
Thanks for the reply. It turns out that it was a Drupal bug.  I am really surprised that someone else has not reported this before. It appears to have been around for a very long time. I will include a link that eludes to it. The fix, while not ideal was to modify Drupal core to suppress the warning.

https://www.drupal.org/project/drupal/issues/1335032

[2020-03-16 15:21] #3028 closed

[2020-03-25 19:09] erogray commented on #2946
Currently no rough plan is planned, but upcoming work will be likely to bring CKAN and DKAN closer together -- closing this ticket in the meantime

[2020-03-25 19:09] #2946 closed

[2020-03-25 19:16] erogray commented on #2682
@fmizzell is this ticket still relevant?

[2020-03-25 19:27] erogray commented on #2813
Not a problem for developers; best solved by engaged site managers adjusting their taxonomy.

[2020-03-25 19:27] #2813 closed

[2020-03-25 19:29] #2783 closed

[2020-03-25 19:29] erogray commented on #2783
Won't be addressed in DKAN 1; DKAN 2 will need other methods.

[2020-03-26 15:53] kimwdavidson opened #3069 "Simplify docker compose setup"
- Cleanup un-used container (memcached, browser, solr).
- Stop keeping cli container always up, use `run` instead of `exec` to run when needed.

[2020-03-26 15:57] kimwdavidson opened #3068 "Determine if tests are complete in front end and components library"
- determine if tests are complete and working
- fix issues

[2020-03-31 17:55] erogray commented on #2941
Closing since this hasn't been active lately, but please feel free to submit pull requests; this could also be a good feature to add to DKAN 2 in the future.

[2020-03-31 17:55] #2941 closed

[2020-03-31 17:56] erogray commented on #2139
Closing since this hasn't been active lately, and datastore is handled differently now

[2020-03-31 17:56] #2139 closed

[2020-03-31 17:57] erogray commented on #2133
Closing since this hasn't been active lately, but please feel free to submit pull requests; this could also be a good feature to add to DKAN 2 in the future.

[2020-03-31 17:57] #2133 closed

[2020-03-31 17:58] erogray commented on #2129
Closing since this is pretty well solved in DKAN 1. Harvest error reporting still needs to be built for DKAN 2 though; but that'll be a new issue.

[2020-03-31 17:58] #2129 closed

[2020-03-31 17:59] erogray commented on #2126
Closing since this is pretty well solved for DKAN 1; needs a to-do for DKAN 2 still.

[2020-03-31 17:59] #2126 closed

[2020-03-31 18:00] erogray commented on #2042
We tested with one client who had a lot of datastore tables and it didn't cause significant improvement; closing this as a won't do.

[2020-03-31 18:00] #2042 closed

[2020-04-01 17:06] markus-m-becker opened #3036 "DKAN site backup fails because of dead behat link"
Site backup using Backup/Migrate module of a fresh installation of the most recent DKAN drop from https://github.com/GetDKAN/dkan-drops-7/tree/7.x-1.18.1 (and older versions) fails with the log message:

Actually, ./profiles/dkan/test/bin/behat is a dead link pointing to ../vendor/behat/behat/bin/behat

## Steps to Reproduce
1. Install DKAN drop from https://github.com/GetDKAN/dkan-drops-7/tree/7.

[2020-04-09 12:38] dasumner opened #3038 "Share Azure Cloud Plan Details With USDA"
USDA must be provided with details about the Azure Cloud resource requirements in order to verify that their subscription includes all the required services.

The current plan makes use of the following Azure services:

1. Azure Database for MariaDB
2. Key Vault
3. Azure Containers
4. Azure Storage
5. Azure Pipelines

[2020-04-09 13:28] #3038 closed

[2020-04-10 14:17] kimwdavidson opened #3070 "Bug: Publisher API generates a new entry when adding values with json form"
`api/1/metastore/schemas/publisher/items`

When adding values to publisher description, or publisher image with the metadata json form, new entries are added to the publisher api rather than appending the existing publisher.

![publisher_api](https://user-images.githubusercontent.com/314172/79135010-4f663c80-7d74-11ea-82ea-cf2578569377.png)

[2020-04-13 14:02] dasumner opened #3039 "Security Scan Containers for USDA Cloud Deployment"
The Docker Containers for USDA cloud deployment should be run through an automated security scan tool to produce a vulnerabilities report.  Any high-level vulnerabilities should be corrected before being deployed in production.

## Acceptance Criteria
The Web and Solr containers should not have any known / severe vulnerabilities.

[2020-04-15 19:13] erogray commented on #3036
Hi @marcus-m-becker,
You only need to back up the /src directory to preserve custom build; you might also want the newer release, https://github.com/GetDKAN/dkan-drops-7/tree/7.x-1.18.3

[2020-04-15 19:22] erogray commented on #2843
Closing since the workaround is to use the UI to import; feel free to reopen or create another ticket if you have other questions or suggestions

[2020-04-15 19:22] #2843 closed

[2020-04-15 19:26] erogray commented on #2595
DKAN 2 release will be coming up before long, and will probably be where we'll want to address this sort of enhancement.

[2020-04-16 14:29] janette commented on #3036
@markus-m-becker are you using [DKAN Tools]() to manage your site? If so, you can create a patch that will remove the file every time you update DKAN. Here is the history of that file https://github.com/GetDKAN/dkan/commit/dfd8b4b1e1cea43b8b199fa5d7e98a39c8121888

1. create a patch file and add it to `src/patches/dkan/`
2. create a file called `CustomCommands.php` and put it in `src/command`

[cod

[2020-04-16 14:35] markus-m-becker commented on #3036
Thanks @janette for your support with the patch. I'm not using DKAN Tools (yet). By now, I delete the file manually every time I update DKAN.

[2020-04-16 14:44] janette commented on #3036
You're welcome @markus-m-becker I'm going to close this then to tidy up our board 😄

[2020-04-16 14:44] #3036 closed

[2020-04-17 22:14] janette opened #3040 "Add ODSM 7.x-2.6"
- [x] Create tag for ODSM 2.6
- [x] Update drupal-org.make to use ODSM 2.6
- [x] Add documentation
- [x] Add a test

[2020-04-19 08:55] gbemle opened #3042 "DKAN for Nigeria's OpenData on Energy Sector"
I am submitting an opendata platform for Nigeria's Power Sector.

The link is dataonre.powerupng.com

I am worried though, is there an automated way to pull and store data? Like RSS?

And what are the possible format this can be done?

Please help

Adetayo Adegbemle

Add a brief description about the purpose of the issue.

## Steps to Reproduce
Add steps for reproducing the issue including any fil

[2020-04-20 13:57] janette commented on #3042
@gbemle you can "harvest" (_admin/dkan/harvest/dashboard_) datasets from API endpoints that provide a [JSON](http://demo.getdkan.com/data.json) formatted list with links to the data files under "distribution". DKAN uses the [POD schema](https://project-open-data.cio.gov/v1.1/schema/) by default but you can create a custom schema (_admin/config/services/odsm/add/api_) to fit your needs. The data fi

[2020-04-20 18:19] seshelby opened #3043 "Revisions Compare Form Accessibility"
The compare form includes radio buttons with empty labels and are not accessible to screen reader users. The radio buttons should include aria-label attributes.

While viewing a dataset, click on the revisions button and review he html code for the radio buttons

[2020-04-21 07:57] datphamict opened #3044 "I cannot import datastore when i choose Vietnamese language"
Hello everybody,

In Dkan 7.x-1.18.3 version I cannot import datastore when i choose Vietnamese language. It is ok with English language

Please help me to fix it.

## Steps to Reproduce
Add steps for reproducing the issue including any file(s) needed to reproduce.

1. Change language to Vietnamese language
2. Choose Resource and click Datastore button
3. Click Import
4. Cannot import(There's any

[2020-04-21 12:49] dafeder commented on #3044
@datphamict can you providew a screenshot of what happens when you try to import?

Thanks

[2020-04-21 13:50] opendatavnp commented on #3044
@dafeder  There's any error or message.

When i click "Import" button, Web browser is reload and there's any error or message.

[2020-04-21 17:45] janette commented on #3043
This would require a patch to [diff](https://www.drupal.org/project/diff), if you get something working let us know, otherwise we will add it to our backlog, however we are focused on the Drupal 8 version of DKAN at the moment and may not get to this.

[2020-04-21 17:50] janette commented on #3044
@opendatavnp you might want to test the file encoding, you may just need to select the correct encoding that matches your file. see https://github.com/GetDKAN/dkan/pull/3025

also see this conversation about UTF8 header names https://github.com/GetDKAN/dkan/issues/2276

[2020-04-22 03:01] opendatavnp commented on #3044
@janette choose Vietnamese language(Language Drupal web) at admin/config/regional/language.

[2020-04-23 14:25] #3040 closed

[2020-04-23 16:38] dinhthimaianh commented on #3044
I found Import - Drop datastore source code in file dkan\modules\dkan\dkan_datastore\src\Page\Page.php
I fix this bug.
from line 156 to line 161:
      if ($values['submit'] == "Import") {
        $this->batchConfiguration($manager);
      }
      elseif ($values['submit'] == "Drop") {
        $this->dropFormSubmit($manager);
      }

chage:

      if ($values['submit'] == t("Import")) {
        $

[2020-04-24 14:15] kimwdavidson opened #3065 "QA sites for docs"
## Acceptance Criteria
- [ ] Any PR builds the documentation on a publicly accessible URL on the CI server

[2020-04-24 14:51] kimwdavidson opened #3064 "Bug: clicking "manage column" button freezes page"
Either fix button issue or hide button.

[2020-04-24 14:54] kimwdavidson opened #3063 "Bug: Clicking "clear" on homepage search doesn't do anything"

[2020-04-24 14:58] kimwdavidson opened #3062 "Switch URL to new demo site"
Make demo.getdkan.org go to the site currently at dkan2.ci.civicactions.net

[2020-04-24 15:02] janette opened #3061 "Send user to the edit page after saving new dataset"
When using the dataset admin UI, creating a new dataset should behave the same as editing a dataset so after saving, send the user to the edit page

[2020-04-24 18:29] janette opened #3060 "Update Docs structure"
- fix semantic versioning explanation
- move upgrade/maintenance page to dkan-tools
- rename components to 'overview'
- under overview add a 'modules' section
- community
  -- contributing
  -- code of conduct
  -- acknowledgement

- data make a sub module of metastore
- re-name data to 'dkan_metastore_content_type' and move to be a sub module of metastore
- move readme info from data to metastore

[2020-04-28 15:54] kimwdavidson opened #3054 "New demo site on Linode"
## Acceptance Criteria
- [ ] We have a demo site and docs
- [ ] Docs are built on demo site
- [ ] Docs are not in version control
- [ ] Master branch is removed from repo
- [ ] Update link on readme
- [ ] Update link on marketing site
- [ ] Demo site rebuilds from scratch every night on latest tag

[2020-04-28 15:58] kimwdavidson opened #3055 "Point docs.getdkan.com to new docs site"

[2020-04-29 17:25] dgading opened #3058 "No count returned when using datastore sql endpoint"
When making a request using the sql endpoint total count for a rows found is not returned with the query.

This issue appeared when working with the datastore and data-preview tables. An example query made looks like `https://dkan2.ci.civicactions.net/api/1/datastore/sql/?query=[SELECT * FROM 7f498ba2-2c03-539d-bdc3-127350a9f99c][WHERE date = "%25195%25"][LIMIT 20 OFFSET 0]` which will always retu

[2020-04-30 18:29] kimwdavidson opened #3071 "Trigger build on gitlab"
@dafeder commented on [Fri Mar 27 2020](https://github.com/GetDKAN/dkan2/pull/371)

PR here: https://app.zenhub.com/workspaces/dkan2-5d5577284770d972a16d1c5f/issues/getdkan/dkan2/371

[2020-05-01 14:23] kimwdavidson opened #3073 "Provide schema with machine and human-readable names in SQL endpoint response"
Provide machine name and human readable name at a single endpoint

Show full schema in datastore import endpoint

with human readable names: https://demo.getdkan.org/api/1/datastore/sql/?query=%5BSELECT%20*%20FROM%20a5db2af0-3c43-51a9-908d-ee071030392c%5D%5BLIMIT%2020%20OFFSET%200%5D; 

with machine readable names: https://demo.getdkan.org/api/1/datastore/sql/?query=%5BSELECT%20*%20FROM%20a5db2af0

[2020-05-01 14:28] #3054 closed, assigned to dafeder

[2020-05-01 14:30] kimwdavidson opened #3074 "Update docs links"
- [x] DKAN readme https://github.com/GetDKAN/dkan/pull/3052
- [x] data catalog front end footer link https://github.com/GetDKAN/data-catalog-frontend/pull/32
- [x] double check links to 1.x docs https://github.com/GetDKAN/dkan/pull/3078
- [x] marketing site https://github.com/GetDKAN/marketing-website/commit/2ff7e49f2df6ee3d9ff15850c8fbe298357c2903
- [ ] dataset sidebar

[2020-05-01 14:31] #3062 closed

[2020-05-01 14:35] kimwdavidson opened #3075 "Rename modules"
- [ ] Group modules into collections
- [ ] Fix issues that arise

[2020-05-01 14:37] kimwdavidson opened #3076 "Add additional flags to DKTL"
Separate out build tasks for specific build scenarios

[2020-05-01 14:39] kimwdavidson opened #3077 "New repo for data catalog react"
- [x] create a new repo for a create react app front end

[2020-05-04 16:53] janette opened #3079 "Accessibilty error on Additional Info table"
## Fix relationship on td elements

https://www.w3.org/TR/WCAG21/#info-and-relationships

The relationship between td elements and their associated th elements is not defined. Use either the scope attribute on th elements, or the headers attribute on td elements.

https://www.w3.org/TR/WCAG20-TECHS/H43.html

## Also update file type background colors to be contrast compliant

[2020-05-05 15:46] #3068 closed

[2020-05-07 15:50] #3076 closed, assigned to dharizza

[2020-05-07 15:52] kimwdavidson opened #3080 "Update build back end and demo flag steps"

[2020-05-07 15:55] #3074 closed, assigned to janette

[2020-05-07 15:56] #3080 closed, assigned to janette

[2020-05-08 14:14] #3066 closed

[2020-05-08 19:59] #3075 closed, assigned to fmizzell

[2020-05-08 19:59] #3060 closed

[2020-05-08 22:21] janette opened #3086 "restore csv download url on madison polling places"
sample content

[2020-05-11 21:17] janette opened #3091 "Fix data story view output to use single element to wrap image, title, text in a link"
- make alt-text required

[2020-05-12 15:10] #3064 closed

[2020-05-12 15:10] #3067 closed

[2020-05-13 19:14] plockaby opened #3096 "doc links and slack help all broken"
Hello! I'd love to try installing dkan2 but I'm running into the following issues:

1. The link on the release announcement to "https://docs.getdkan.com/" goes to a page that says "page not found".
2. On the resources page (see: https://getdkan.org/resources) the link to "Documentation" goes to the same "page not found".
3. On the resources page the link to "Roadmap" just goes to the same page so

[2020-05-13 19:46] janette commented on #3096
@plockaby

- Docs: Thank you for the feedback, the docs have been restored so the links should work now.
- Roadmap: this is not quite ready yet, hope to have a rough draft out soon.
- Slack: you should be able to create an account with any email, try https://dkansignup.herokuapp.com/
- API page: mmm, looking into that
- Installation: this should be easy if using [DKAN Tools](https://github.com/get

[2020-05-13 20:04] janette commented on #3096
@plockaby
the API page is working now, it is important to update the `.env.production` file with the correct url 😄

[2020-05-13 20:19] #3079 closed, assigned to janette

[2020-05-13 23:12] plockaby commented on #3096
Thanks! Those were the pointers that I needed. I appreciate you fixing the links and now the docs.getdkan.org page has what I mostly need on it. Appreciated.

[2020-05-14 15:50] kimwdavidson opened #3097 "Make front end work with React App"
## User Story
As a developer with a lot of datasets in my catalog, I want to use a create-react-app frontend, so I can update a page without having to rebuild and make changes quickly.

## Acceptance Criteria
- [ ] Both dynamicly- and staticly-generated routing is supported
- [ ] Frontend module detects which method by looking at how many files there are
- [ ] If staticly-generated (many files), a

[2020-05-14 17:02] plockaby commented on #3096
Would it be possible to explain how you solved the API page problem? I am having the same issue. I've updated my `.env.production` file and restarted the containers but I'm still seeing the same error.

[2020-05-14 17:14] plockaby commented on #3096
Additionally, I don't see this in the documentation but how do I tell DKAN that it is being proxied? It keeps trying to redirect to port 8443. I have haproxy(443) -> apache(8443) -> dkan(32780).

[2020-05-14 17:19] janette commented on #3096
@plockaby it is in the DKAN Tools README file: https://github.com/GetDKAN/dkan-tools#setup-and-start-the-proxy

If you get the 'dkan' proxy working then you won't need to edit the .env.production file, this makes it easy to do development work locally.

If you are trying to get the build working on a production server that is when you would edit the `src/frontend/.env.production` file so that the

[2020-05-14 17:21] fmizzell commented on #3096
@plockaby Now that the links are working, I am going to close this ticket. Hopefully we will see you on slack.

[2020-05-14 17:21] #3096 closed, assigned to nobody

[2020-05-14 17:34] plockaby commented on #3096
Unfortunately neither of those solutions solved my problem with proxying. I'll consider getting onto the slack channel. I always hesitate to creating new accounts for a single, short-lived purpose. Thanks again.

[2020-05-14 21:28] janette commented on #3096
@plockaby did you do this step `docker run -d -p 80:80 -v /var/run/docker.sock:/tmp/docker.sock:ro jwilder/nginx-proxy`

[2020-05-15 14:17] kimwdavidson opened #3099 "Discovery: Interoperability with other open data standards"
## User Story
As a data publisher, I want my entire catalog to be machine readable via multiple metadata standards, so that it is useful to the most data consumers

## Notes
- currently DKAN is a data.json tool, we want it to be useful for people outside the US, using other metadata standards, and interoperable with CKAN and other software
- investigate feasibility of using frictionless data tools

[2020-05-15 16:08] #3039 closed

[2020-05-18 00:31] dasumner commented on #3065
I think this was meant to be on the dkan2 board.

[2020-05-18 00:31] #3065 closed

[2020-05-18 05:53] plockaby commented on #3096
I did try that at one point but it did not find the nginx instance in docker and besides I wanted SSL termination. What I am running right now is HAProxy as my SSL terminator with Apache in front of that to do proxying and authentication into the docker container that actually runs DKAN. However, the DKAN API is certain that its URL is http://dkan/ even though I've changed .env.production and .env

[2020-05-18 13:21] eGovCologne opened #3100 "Datastore import paused"
I´m trying to import a csv file with 11.292 rows in the datastore.
The import stops with the following message:
"The datastore importer is currently paused. It will resume in the background the next time cron runs from drush." The status of the import is "Paused".
Unfortunately the cron job does not continue the import process. The import is freezed in the status "Paused" and no further row will b

[2020-05-18 14:57] janette commented on #3100
@eGovCologne can you provide a link to the file? Things to check: unescaped quotes, mysql reserved words in column headings, file encoding, ...

you can run this to start the import over:
`drush dkan-datastore-delete [node id]`

[2020-05-18 15:08] janette commented on #3063
fixed by https://github.com/GetDKAN/data-catalog-components/pull/70

[2020-05-18 15:08] #3063 closed

[2020-05-19 05:24] eGovCologne commented on #3100
@janette
Here is the link to the original file:
https://opendata.duesseldorf.de/dataset/85d09ac6-ac1a-4ef7-bd9c-868072e69c18/resource/9fc04ec4-cfb7-4211-9084-6f5b3b907587#{}

I also tried to create and import a test file with no success. The test file is attachted.
[test.zip](https://github.com/GetDKAN/dkan/files/4648377/test.zip)

Thanks!

[2020-05-19 22:47] janette commented on #3100
@eGovCologne

I was able to add both the Strassentabelle_2019_Baublockebene.csv and test.csv files to the datastore on my local DKAN 1.18.4 build.

The Strassentabelle_2019_Baublockebene.csv file had warning messages of `Source file is not in "UTF-8" encoding.` and one of the column names is "Block" which is a mysql reserved word. But it did import both as an uploaded file (imported in one go, no

[2020-05-22 09:18] eGovCologne commented on #3100
Hello Janett,

thank you for testing.
Very strange that you are able to import the files successfully in the datastore.
I´m using a default dkan installation in my development enviroment and I´m not able to import.
I will check my config one more time and let you know.

[2020-05-22 14:10] kimwdavidson opened #3105 "Create new date/time widget"
## Description
The built in date-time widget forces the user to submit a full date-time value, we need a widget that will make it easy to add dates to the "Issued" field but also allow for simple dates such as `2019` or `2015-03`

https://github.com/rjsf-team/react-jsonschema-form
https://react-jsonschema-form.readthedocs.io/en/latest/advanced-customization/#custom-widget-components

The rjsf libr

[2020-05-22 14:30] akuckartz commented on #3100
PHP version?

[2020-05-22 14:50] kimwdavidson opened #3106 "Free tagging option"
## User Story
As a data publisher, when I publish a dataset, I want to be able to choose an existing tags or create a new one if my tag doesn't currently exist, so that my tags will stay organized

## Acceptance Criteria
When I add keywords
- [ ] I should see a suggested list
- [ ] I should be able to select from the list
- [ ] I should be able to create my own
- [ ] I should see the keywords I ch

[2020-05-25 15:23] tomsrocket commented on #2993
Another way that helped me was:
1. Go to the DKAN Administration interface, to the "Create Dataset"-Page
2. Fill out all the fields
3. Open the developer console of your internet browser (e.g. Firefox: right click inside page, "inspect element")
4. In developer console navigate to the "Network" tab, make sure the box "Persist logs" is checked, so the history will not be cleared after page load
5.

[2020-05-26 12:05] fmizzell opened #3107 "Control revision publishing through API"
The data content type supports revisions. Currently, new revisions are created on any successful modification of metadata, but every revision is immediately published. It would be useful to be able to control this behavior to implement more complex workflows.

[2020-05-26 12:18] fmizzell opened #3108 "ResourceMapper"
One of the most useful features of DKAN is its capability to allow users to explore the data to some degree to help them figure out whether it is the right data for them before downloading it. To allow this data previewing we get a copy of a remote file, parse it, and store it in a database table.

In other scenarios, we might be consuming data from "private" sources and we might need to get a loc

[2020-05-26 15:50] kimwdavidson opened #3109 "D9 compatibility"
## Subtasks

- [ ] run operate status module
- [ ] run rector
- [ ] add to documentation re: D9 compatibility

[2020-05-28 00:10] thierrydallacroce commented on #3107
Created https://github.com/GetDKAN/dkan/pull/3110 to address the above.

[2020-05-28 17:14] thierrydallacroce opened #3111 "Standardize Dkan's drush commands"
Some Dkan drush commands start with `dkan:`, others with `dkan-`.

For consistency, we'd like to standardize all our commands to this format: `dkan:<module>:<action>`. As an added bonus, when listed with `drush`, all Dkan commands will be listed together, whereas currently a small number are listed within the `_global` ones.

For backwards compatibly of our commands in existing scripts (including

[2020-05-28 19:17] chrodos opened #3113 "Problem in ajax with chrome 83"
When chrome was updated to version 83 the add and remove resource stopped working. I am working on a dkan-7.x. I did some googling and I found this that is probably relevant: https://www.drupal.org/project/drupal/issues/3138421

<img width="427" alt="2020-05-28_22-10-03" src="https://user-images.githubusercontent.com/5204324/83183856-3b627880-a131-11ea-965c-d48cb0b5e391.png">

[2020-05-29 14:48] #3086 closed, assigned to nobody

[2020-05-29 14:53] kimwdavidson opened #3115 "Convert all sample content CSVs to UTF-8"

[2020-05-29 14:57] #3000 closed

[2020-05-29 15:29] janette commented on #3091
https://github.com/GetDKAN/dkan/pull/3094

[2020-05-29 15:29] #3091 closed, assigned to nobody

[2020-05-29 15:31] janette commented on #3055
2.x docs: https://demo.getdkan.com/
1.x docs: https://dkan.readthedocs.io/en/latest/

[2020-05-29 15:31] #3055 closed, assigned to nobody

[2020-05-29 22:43] #3111 closed, assigned to nobody

[2020-05-29 23:52] edmargomes commented on #3069
@dafeder how do you think about this?

I create this structure to PECE project: https://github.com/PECE-project/drupal-pece/tree/pece2.0

I used docker4drupal project and drupal-project

[2020-06-01 14:49] dharizza commented on #3113
A working patch has already been committed to D7 and as per https://www.drupal.org/project/drupal/issues/3143016 a new release will come in a couple of days, so we're going to wait until that release to include this in 1.18.6.

It looks like this is not an issue for D8.

[2020-06-03 14:43] janette commented on #3105
- [ ] https://github.com/smackjax/ez-react-date-input
- [x] https://github.com/netojose/react-select-datepicker
- [ ] https://github.com/JMcAmmond/react-select-datepicker

[2020-06-03 21:03] pnpierce713 opened #3117 "Installation problems"
We have installed drupal and now trying to install dkan-tools. When following the steps to start the nginx proxy in docker we are getting 503 Service Temporarily Unavailable when going to http://dkan

What items are we missing and should look for? This is running on RHEL 7.8, and has php 7.4.6, mysql 5.7.30, Apache/2.4.6, and Drush Commandline Tool 10.2.2 which should be the latest versions availa

[2020-06-03 21:55] ixtogt opened #3118 "Problem with install and activate dkan in drupal 8.9.0"
When i try to activate dkan in drupal modules, i have this error

PHP Fatal error:  Interface 'Contracts\RetrieverInterface' not found in ...modules/dkan-2.1.0/modules/metastore/src/SchemaRetriever.php on line 11

what could be going on?

[2020-06-03 22:23] janette commented on #3118
@ixtogt did you install dkan with `composer require 'getdkan/dkan:2.1.0'`? this will download the required dependencies

[2020-06-03 22:34] janette commented on #3117
@pnpierce713 it sounds like you are not using the docker containers provided by dkan-tools. Do you have an existing Drupal site already running on your environment? If you have a working URL then edit _src/frontend/.env.production_ to use that url and run `npm run build` in _src/frontend_

[2020-06-04 15:19] pnpierce713 commented on #3117
We have a working Drupal site running and are able to access it from a browser. Where we are confused is where we should be trying to access dkan? We run the docker container but have to either move the apache server off port 80 or run the docker container on a different port. Should be be overwriting the drupal site with dkan? the dkan-tools are currently installed at /var/www/html/drupal/dkan-to

[2020-06-04 19:03] ixtogt commented on #3118
Hi janette,

i retry my drupal installation (drupal 8.9.0) with composer and now i have other problem,
whe i run `composer require 'getdkan/dkan:2.1.0'` give this error:

`Loading composer repositories with package information
Updating dependencies (including require-dev)`

`mmap() failed: [12] Cannot allocate memory`

`mmap() failed: [12] Cannot allocate memory`

`mmap() failed: [12] Cannot alloc

[2020-06-04 19:34] janette commented on #3117
@pnpierce713 if you have a Drupal site that was not created with dkan-tools, then you would need to run `export DKTL_MODE="HOST"` we do not support this method but it is there if you want to use it.

Try these steps:

[code]
This last command is what downloads the frontend application to _src/frontend_ and will symlink it to _docroot/data-catalog-frontend_

Edit the `/src/frontend/.env.production`

[2020-06-04 19:56] janette commented on #3118
@ixtogt I would suggest try using the Docker/Docker Compose method outlined in [DKAN Tools](https://github.com/GetDKAN/dkan-tools) that is a controlled and tested environment. You could try increasing memory_limit but If you want to use your own set up you will have to debug those memory issues on your own.

[2020-06-04 20:48] pnpierce713 opened #3120 "data-catalog-frontend install issue"
When we are trying to run 'npm start' in step 5 from this guide: [https://github.com/GetDKAN/data-catalog-frontend](url) we are getting the following error:

` ERROR #11321  PLUGIN

"gatsby-node.js" threw an error while running the createPages lifecycle:

Request failed with status code 404

  Error: Request failed with status code 404

  - createError.js:16 createError
    [data-catalog-frontend]

[2020-06-04 20:54] janette commented on #3120
@pnpierce713 did you check the endpoint I mentioned in the [last ticket](https://github.com/GetDKAN/dkan/issues/3117#issuecomment-639071986)? do you have datasets listed there?

[2020-06-05 00:32] dharizza commented on #3113
Hello!

This issue has been fixed in latest release https://github.com/GetDKAN/dkan/releases/tag/7.x-1.18.6.

[2020-06-05 00:32] #3113 closed, assigned to dharizza

[2020-06-05 09:12] eGovCologne commented on #3100
Hello Janett,
unfortunately we are still not able to import large csv files.
We were able to solve our problem with the following code modification.

File: patches/datastore-batch-iterations.patch and profiles/dkan/modules/dkan/dkan_datastore/src/Page/Page.php

`--  const BATCH_ITERATIONS = 1;
--  const BATCH_TIME_LIMIT = 5;

++  const BATCH_ITERATIONS = 10;
++  const BATCH_TIME_LIMIT = 50;
`

[2020-06-05 19:18] pnpierce713 commented on #3117
Thank you for the help, this is the first experience we have had with drupal but we have been linux admins for many years. We went ahead and started over and now we are not using our own drupal install and using docker. We found that RHEL 7 comes with docker 1.13 so we first updated our docker repo and now have docker 19.03.11 installed. We also found that versions of docker above 18 renamed  dock

[2020-06-05 20:24] janette commented on #3117
@pnpierce713 I'm still confused if you are using the dkan-docker images or your own. Based on the output it looks like you've skipped some steps.

[code]
this is a good start, this will allow you to see the front end. Continue with the following commands to get a working demo site inside your project directory:

[code]
These steps will build a new Drupal site, with the dkan module enabled, the fro

[2020-06-08 16:56] pnpierce713 commented on #3117
Thank you. We were using the dkan-docker images. We went ahead and removed everything and started over and followed your instructions and were able to get the demo running after that. I'm not sure what we missed but thank you for your help in getting this resolved.

[2020-06-08 16:56] #3117 closed, assigned to nobody

[2020-06-08 17:18] pnpierce713 commented on #3120
We ended up not using our own Drupal site and used the dkan-docker images and now we have dkan running. The confusion started from [https://demo.getdkan.com/modules/contrib/dkan/docs/installation.html](url) in which we installed dkan as described on that page and when we went to the 'data catalog frontend' section it says to follow the dkan-tools readme to setup the backend. I now see there is a -

[2020-06-08 17:18] #3120 closed, assigned to nobody

[2020-06-09 14:35] thierrydallacroce commented on #3118
@ixtogt `composer` is known to run out of the default amount of memory it is provided with, even though it allocates itself 1.5 GB. There are ways to increase this limit, either via aliasing it or preceding it with an environment variable. More info can be found [here](https://getcomposer.org/doc/articles/troubleshooting.md#memory-limit-errors).

That said, @janette is correct, if you can stick wi

[2020-06-09 17:58] dharizza opened #3126 "File Upload Widget"
## User Story

As a data publisher, I want to be able to upload files through a user interface, so that I can share my data without having to use a remote file.

## Acceptance Criteria
(add once we decide if we're using data.gov's UI)

## Implementation details:

Create custom widget that allows users to choose what they want to add (either a URL or file).

- widget should be a field chooser with

[2020-06-09 18:02] dharizza opened #3127 "Integrate File Upload widget with FileMapper"
Once File Upload Widget and FileMapper are done, we should integrate both of them so if FileMapper is present, the File Upload Widget uses its config for saving files.

Relates to https://github.com/GetDKAN/dkan2/issues/409

[2020-06-10 15:24] rhabbachi commented on #3115
Currently working on this ticket. Following is the latest update on the progress I made:

The need for this ticket came from the garbled output shown in the "Afghanistan Election Districts" dataset from the sample content.

![image.png](https://images.zenhubusercontent.com/558811a24f7a08fbb7f354f6/64f25ef8-793a-49c5-85ad-13d45a3a3d19)

I believe the initial though was the corrupted display was due

[2020-06-10 16:37] janette commented on #3115
nice find @rhabbachi , maybe we should assume utf-8 and add an argument to the import call to add the encoding if needed.

[2020-06-12 05:06] drasgardian commented on #3108
Sometimes it isn't a file at all, but is a URL reference to a remote API - see the 3 tab options when adding a resource in dkan 1.

[2020-06-12 16:05] rhabbachi commented on #3115
From what I've seen in the code, the goal is to transcode everything to UTF-8 inside the database. This makes sense as the APIs will have a stable encoding that the consumer applications can reliably use.

Supporting the source encoding as an optional argument sounds like it will cover all the cases, but can be tiresome as well. We will need to build a form to take the distribution encoding and st

[2020-06-18 00:11] pnpierce713 opened #3132 "How do you get the full site for dkan running?"
I've been working with another admin for the past 2.5 weeks trying to get a working version of dkan going for a demo in our environment. So far we have gotten DKAN 1.17 working but it throws ajax errors when trying to add sources inside of harvest, and we haven't gotten to the next step of getting solr connecting to our Cloudera cluster. We have also tried DKAN 2.1(with docker images with dkan-too

[2020-06-18 13:56] janette commented on #3132
@pnpierce713

DKAN 1.17: What are the errors you are getting, can you post them?
DKAN 2.1: There is no UI for adding harvests yet, for now you register a source with a drush command:
[code]
Read more about that here https://demo.getdkan.com/modules/contrib/dkan/docs/harvest.html

DKAN Tools: These commands are designed to stand up a site starting at the docker containers. If you want to use the co

[2020-06-18 15:59] pnpierce713 commented on #3132
Thank you for your assistance. Here is an update on what we are seeing:

DKAN 1.17:
Here is the error we receive when we try to add a json data source(https://data.cdc.gov/api/views/qwpv-wpc8/columns.json):

Error

The website encountered an unexpected error. Please try again later.

This is what our Harvest dashboard looks like:
![image](https://user-images.githubusercontent.com/66386437/85042460

[2020-06-18 17:19] janette commented on #3132
DKAN 1.7:
That json file you posted (https://data.cdc.gov/api/views/qwpv-wpc8/columns.json) is not publicly available and looks like a data dictionary endpoint...? For harvesting use https://data.cdc.gov/data.json

DKAN 2.1:
Running `dktl init` sets up the containers and the project file structure, there is no need for a login.
To harvest from the source you mention, it would be
[code]
to register

[2020-06-18 19:14] pnpierce713 commented on #3132
DKAN 1.7:

Here is what happens when I try the json file you linked:
![image](https://user-images.githubusercontent.com/66386437/85061977-55f6a300-b16d-11ea-8d09-5433d356fa2e.png)

Then I hit save and this comes up:
![image](https://user-images.githubusercontent.com/66386437/85062097-82122400-b16d-11ea-8464-b2e6046a1566.png)

Then when I go back it's created this again:
![image](https://user-image

[2020-06-18 19:20] pnpierce713 commented on #3132
DKAN 2.1:
Thank you that makes more sense on how to add harvest sources. Is there a way we can get the admin toolbar in dkan 2.1? This is what it looks like in DKAN 1.17 and thought there would be something similiar in 2.1:

![image](https://user-images.githubusercontent.com/66386437/85062605-60656c80-b16e-11ea-9327-2b3e3bcc47bf.png)

Without that I don't see how we can add users with various role

[2020-06-18 19:32] janette commented on #3132
DKAN 1.7: looks like there is something wrong with the build, check the output on `/admin/reports/dblog` (enable database logging if not enabled) or check the php error.log

DKAN 2.1: Click on 'People' to add users, set up roles, and add permissions

![people](https://user-images.githubusercontent.com/314172/85063977-8986fc80-b170-11ea-96a3-0859f9113f33.png)

[2020-06-18 19:37] pnpierce713 commented on #3132
DKAN 2.1:
Here is what we are getting when running the manual data-catalog-frontend install after npm start. I'm guessing it's due to createpages failing is why we get nothing on our site. Some of the other tabs work though, such as 404, publishers, and about:

`> data-catalog-frontend@1.0.0 start /var/www/html/drupal-8.8.8/data-catalog-frontend

success open and validate gatsby-configs - 0.050s
s

[2020-06-18 19:42] janette commented on #3132
@pnpierce713 Perfect, this is actually working as expected since you do not have dataset content. If you run the harvest drush commands above or enable the 'sample_content' module, then in `src/frontend` run `npm run build` you should see the search page working and dataset pages as well.

[2020-06-18 20:11] janette commented on #3132
Testing with the CDC endpoint, looks like it is a Socrata site so you would need to add some ETL to make the values validate against the POD schema. This is done through the Transform class.

![harverst](https://user-images.githubusercontent.com/314172/85067195-e802a980-b175-11ea-8632-90808566c0d8.png)

[2020-06-19 13:57] pnpierce713 commented on #3132
Here is our error results from 'npm run build'

`0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/bin/npm', 'run', 'build' ]
2 info using npm@6.14.5
3 info using node@v12.18.1
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle data-catalog-frontend@1.0.0~prebuild: data-catalog-frontend@1.0.0
6 info lifecycle data-catalog-frontend@1.0.0~build: data-cata

[2020-06-19 19:44] janette commented on #3132
@pnpierce713 what are the datasets on your site? the sample content? or the CDC harvest?

[2020-06-19 19:45] pnpierce713 commented on #3132
The CDC harvest

[2020-06-19 23:13] janette commented on #3132
1. `dktl drush dkan:harvest:revert cdc`
2. `dktl drush dkan:harvest:deregister cdc`
3. Go to `/admin/dkan/dataset` and add a dataset manually.
2. `dktl drush sapi-i`
3. `dktl frontend:build`

If that gets you a working dataset page, then the frontend code is working as expected.

If you get more errors, then try removing `src/frontend/node_modules` and run npm install, npm run build again. Or `gat

[2020-06-22 23:46] thierrydallacroce commented on #3107
https://github.com/GetDKAN/dkan/pull/3140 addressed the above.

[2020-06-22 23:46] #3107 closed, assigned to thierrydallacroce

[2020-06-26 09:53] tgurr opened #3142 "Unexpected error when trying to access datasets within Drupal"
I've just installed Drupal 8.9.1 and DKAN 2.2.0 and added the sample-content as well as created a new test dataset, when trying to display them from `https://opendata.domain.local/admin/content/datasets`, e.g. `https://opendata.domain.local/dataset/bc9af3ec-5eb5-4291-a3cf-81daa73f5e66` I get an error from Drupal: `The website encountered an unexpected error. Please try again later.`

In the PHP lo

[2020-06-26 15:01] kimwdavidson opened #3143 "Clean up dataset json schema file"
## User story
When I manually add a dataset, I should not see any fields that don't require human data entry, so that I'm not confused

## Acceptance criteria
When I manually add a dataset
I should not see a distribution identifier field
I should not see a media type field

## Details/Tasks
- remove distribution identifier
- remove file size
- add suggested list for format and media type
- hide me

[2020-06-29 09:45] tgurr commented on #3109
Recently https://github.com/GetDKAN/dkan/pull/3121 has been merged, but not referenced here and this issue hasn't been updated accordingly. What is the actual status of D9 compatibility and DKAN 2.x, is it already expected to work with the latest released DKAN version 2.2.0?

[2020-06-29 11:06] tgurr commented on #3142
Small update on this one:

![Screenshot_20200629_121058](https://user-images.githubusercontent.com/414984/85996486-9de8b600-ba08-11ea-8ffe-bcef3e279c13.png)

When clicking on Title to access a dataset the `/admin/dkan` in the URL is omitted resulting in the error, while clicking on edit allows me to browse/edit the dataset.

[2020-06-30 20:07] #3115 closed, assigned to janette

[2020-06-30 20:34] janette commented on #3142
@tgurr
are you using dkan-tools?

if yes:

Is the proxy running?
[code]

Did you index?
[code]

Did you build the frontend files?
[code]

[2020-07-01 08:51] tgurr commented on #3142
@janette I'm not using dkan-tools and also no docker. I've installed Drupal, Drush and DKAN with composer, followed by

[code]

During testing I've installed everything multiple times and the issue seems to be reproducible to me, no matter if installing DKAN into Drupal 8.9.1 or 9.0.1.

As this is in the Drupal backend the frontend is not involved, but I also did (re-)build the frontend, which is

[2020-07-06 15:03] rhabbachi commented on #3069
Latest work on this https://github.com/GetDKAN/dkan-tools/pull/226

[2020-07-06 18:13] janette commented on #3070
This was fixed by https://github.com/GetDKAN/dkan2/pull/333

[2020-07-06 18:13] #3070 closed

[2020-07-06 20:26] dafeder commented on #3069
@edmargomes cool - will take a look!

[2020-07-09 15:50] #3077 closed, assigned to dgading

[2020-07-09 15:51] dafeder commented on #3077
https://github.com/GetDKAN/data-catalog-react

[2020-07-16 14:26] dgading commented on #3097
`Frontend module detects which method by looking at how many files there are` instead of this, I updated the module to read the frontend package.json and choose by looking for Gatsby. I can easily update this in the future with the new config file added that includes a static boolean we can surface in the event something other than Gatsby is used.

[2020-07-16 14:29] dgading commented on #3097
`If dynamically-generated (only one file exists), all Drupal routes (except admin/*) are redirected to that file` I've also made a change here. There could be use cases where not all the routes should be served by React so I made a config file that can take a list of routes to replace the folder browsing we are doing on the Gatsby side. We may still need a solution for 404s since Drupal is still s

[2020-07-21 22:43] kimwdavidson opened #3163 "Github integration test"

[2020-07-23 18:18] janette commented on #3108
@drasgardian if it is a reference to a remote API that should be stored as an `accessUrl` not as a `downloadUrl`

[2020-07-24 15:23] janette opened #3165 "Update getCatalog() function to use base_url"
`metasatore/src/Service.php` is currently using a hard coded http://dkan from `schema/collections/catalog`, we want it to use the $base_url value instead

[2020-07-29 15:12] dharizza opened #3166 "Move from rjsf to Drupal Form API"
## Description
The idea is to move away from react-jsonschema-form and create the dataset form based on a JSON schema using the Drupal Form API so we can have full control over the form and still have all the drupal capabilities available.

## Requirements
- Map basic fields from the JSON schema to form API widgets (this should include validators for the fields)
- Build the metadata based on submi

[2020-07-29 17:21] susisiman commented on #3143
@fmizzell Are you code reviewing this?

[2020-07-30 15:47] dafeder commented on #3126
Putting aside as we expirement with a form-api solution. See #3166

[2020-07-30 23:07] #3097 closed, assigned to dharizza

[2020-07-31 07:47] tgurr opened #3167 "Uploading of resources/files in dkan 2.x"
In dkan 1.x it was apparently possible to actually upload resource files to drupal according to
https://dkan.readthedocs.io/en/latest/admin/data_and_content/adding_new_content.html#adding-a-resource

How is this handled in dkan 2.x? We can't find anything in the drupal backend which allows us to actually upload any files when creating a dataset. There's only

![image](https://user-images.githubuse

[2020-07-31 12:23] dafeder opened #3168 "Move metadata to custom entity"
Metadata is currently stored in a single content type, data, and differentiated with a text field, "type". This was a convenient way to get the system up and running but presents some problems:

1. Metadata shows up in the Drupal content administration screen, including child data objects like "distributions" and "publishers".
2. All nodes receive a route in Drupal, so to keep all the component pi

[2020-07-31 14:34] kimwdavidson commented on #2316
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:34] #2316 closed

[2020-07-31 14:36] kimwdavidson commented on #2392
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:36] #2392 closed

[2020-07-31 14:36] kimwdavidson commented on #2398
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:36] #2398 closed

[2020-07-31 14:36] kimwdavidson commented on #2408
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:36] #2408 closed

[2020-07-31 14:37] dafeder commented on #1024
Security updates and bug fixes only in the D7 version of DKAN. Closing.

[2020-07-31 14:37] #1024 closed

[2020-07-31 14:37] kimwdavidson commented on #2547
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:37] #2547 closed

[2020-07-31 14:37] kimwdavidson commented on #2548
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:37] #2548 closed

[2020-07-31 14:38] kimwdavidson commented on #2549
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:38] #2549 closed

[2020-07-31 14:38] kimwdavidson commented on #2550
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:38] #2550 closed

[2020-07-31 14:39] kimwdavidson commented on #2551
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:39] #2551 closed

[2020-07-31 14:39] dafeder commented on #2076
Security updates and bug fixes only in the D7 version of DKAN. Closing.

[2020-07-31 14:39] #2076 closed

[2020-07-31 14:39] kimwdavidson commented on #2580
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

This feature does come with the D8 version.

[2020-07-31 14:39] #2580 closed

[2020-07-31 14:40] kimwdavidson commented on #2581
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:40] #2581 closed

[2020-07-31 14:40] kimwdavidson commented on #2582
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

This feature is available in the D8 version of DKAN.

[2020-07-31 14:40] #2582 closed

[2020-07-31 14:41] dharizza commented on #17
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:41] #17 closed

[2020-07-31 14:41] #2302 closed

[2020-07-31 14:41] dafeder commented on #2078
We have essentially implemented this in [DKAN Science](https://github.com/GetDKAN/dkan_sci_metadata). Security updates and bug fixes only in the D7 version of DKAN. Closing.

[2020-07-31 14:41] #2078 closed

[2020-07-31 14:41] kimwdavidson commented on #2613
Done. Closing.

[2020-07-31 14:41] #2613 closed

[2020-07-31 14:42] dafeder commented on #2083
Security updates and bug fixes only in the D7 version of DKAN. Closing.

[2020-07-31 14:42] #2083 closed

[2020-07-31 14:42] #2490 closed

[2020-07-31 14:42] #2641 closed

[2020-07-31 14:42] #2084 closed

[2020-07-31 14:42] dharizza commented on #26
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:42] #26 closed

[2020-07-31 14:43] kimwdavidson commented on #2754
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:43] #2682 closed

[2020-07-31 14:43] #2754 closed

[2020-07-31 14:43] dafeder commented on #2123
Security updates and bug fixes only in the D7 version of DKAN. Closing.

[2020-07-31 14:43] #2123 closed

[2020-07-31 14:43] #28 closed

[2020-07-31 14:44] fmizzell commented on #2682
We have a nice report accessible through drush in 2.x.

[2020-07-31 14:44] kimwdavidson commented on #2806
Done. Closing

[2020-07-31 14:45] kimwdavidson commented on #2808
Done. Closing.

[2020-07-31 14:45] #2808 closed

[2020-07-31 14:45] #31 closed

[2020-07-31 14:45] #2806 closed

[2020-07-31 14:45] #2890 closed

[2020-07-31 14:46] #2258 closed

[2020-07-31 14:46] #2896 closed

[2020-07-31 14:46] fmizzell commented on #2683
Not relevant to 2.x.

Security updates and bug fixes only in the D7 version of DKAN. Closing.

[2020-07-31 14:46] #2683 closed

[2020-07-31 14:46] #2333 closed

[2020-07-31 14:47] #207 closed

[2020-07-31 14:47] dafeder commented on #2333
Picking this back up in DKAN 2 under different framing.

[2020-07-31 14:47] fmizzell commented on #2640
Already happening in 2.x.

Security updates and bug fixes only in the D7 version of DKAN. Closing.

[2020-07-31 14:47] #2640 closed

[2020-07-31 14:47] #3163 closed, assigned to nobody

[2020-07-31 14:48] #3143 closed, assigned to fmizzell

[2020-07-31 14:48] #475 closed

[2020-07-31 14:49] dafeder commented on #2608
We should discuss what to do with this ticket @rhabbachi

[2020-07-31 14:49] chilic commented on #475
5 years! Awesome!

[2020-07-31 14:50] #1264 closed

[2020-07-31 14:52] dafeder commented on #2344
We've done project-specific custom solutions for this in different cases, and don't have any specific plans around this for DKAN2 yet but there are some good ideas in this ticket we may return to. Closing for now.

[2020-07-31 14:54] kimwdavidson commented on #2700
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:54] #2700 closed

[2020-07-31 14:54] dharizza commented on #2559
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:54] #2559 closed

[2020-07-31 14:54] #2661 closed

[2020-07-31 14:55] kimwdavidson commented on #2694
Done. Closing

[2020-07-31 14:55] #2694 closed

[2020-07-31 14:56] dharizza commented on #2570
Security updates and bug fixes only in the D7 version of DKAN. Closing. 

[2020-07-31 14:56] #2570 closed

[2020-07-31 14:56] dafeder commented on #2603
Need to follow up with the Frictionless project about combining dcat-us and data package standards...

[2020-07-31 14:56] #2717 closed

[2020-07-31 14:56] #2344 closed

[2020-07-31 14:56] fmizzell commented on #1948
An SQL-like language is the main way to interact with stored data in 2.x.

Security updates and bug fixes only in the D7 version of DKAN. Closing.

[2020-07-31 14:56] #1948 closed

[2020-07-31 14:57] dafeder commented on #2789
Security updates and bug fixes only in D7. Closing.

[2020-07-31 14:57] #2789 closed

[2020-07-31 14:59] #2609 closed

[2020-07-31 15:02] #2674 closed

[2020-07-31 15:02] dafeder commented on #2662
Security updates and bug fixes only in the D7 version of DKAN. Closing.

[2020-07-31 15:02] #2662 closed

[2020-07-31 15:03] dharizza commented on #2764
Security updates and bug fixes only in the D7 version of DKAN. Closing.

[2020-07-31 15:03] #2764 closed

[2020-07-31 15:41] fmizzell commented on #3168
@dafeder Regarding issue 1, this is not a bug, it is the reason for the referencing system. If one does not expect metadata pieces to need to be managed as individual things  (for example updating a publisher's info), then it should not be chosen as a referenceable object and it should never show up as its own entity. So effectively, the use case of having referenced entities that need to be hidde

[2020-07-31 15:43] fmizzell commented on #3168
@dafeder How does the new approach of using a custom entity solves issue 2?

[2020-08-01 02:53] dharizza commented on #3167
Hello, DKAN v2 was created with an API first approach and our first release doesn't include a way for us to be able to upload files directly in the dataset form, though we're already working on a new version of the form that will allow this. Anyway, there are some ways in which you can upload your files to Drupal and then get the URL to put it in the Download URL field in the form, I'll give you t

[2020-08-04 17:19] janette commented on #3126
blocked by #3166

[2020-08-04 17:48] dafeder opened #3169 "Schemas for data resources (column-level metadata)"
There were a lot of false starts for this in DKAN 1, but we want to get this right in DKAN2. Schemas for Datasets provide value in several areas:

1. Describe to end users what kind of data to expect in each column
2. Validate column headers and order for incoming datasets
3. Improve datastore tables by mapping schema data types to mysql column types
4. Allow for 3rd-party row-level data validatio

[2020-08-04 18:02] dafeder commented on #3169
Some examples of the data dictionary web display from other data products:

![image](https://user-images.githubusercontent.com/309671/89327081-5386d480-d659-11ea-85a8-548a82bf9d2d.png)
CKAN

![image](https://user-images.githubusercontent.com/309671/89327217-92b52580-d659-11ea-90d0-c463142d8224.png)
Socrata

[2020-08-04 20:54] dafeder opened #3170 "Harvest drush commands to show run details"
## User story
As a data publisher, when I am running a harvest via drush, I want to see if the harvest was successful or what went wrong with the harvest after it completes, so that I know the status and how I might fix it if necessary.

## Notes
It's hard to find information about what went wrong (or right!) on a harvest run after it's complete; the `drush dkan:harvest:run` command provides only